.version.architectural_design /* version checker */
{
	color: #00001C;
	background-color: #02692F;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1224px;
	min-height: 3902px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -38px;
}

#u72
{
	z-index: 2;
}

#u72_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1224px;
	left: -100px;
}

#u73
{
	z-index: 3;
	margin-bottom: -61px;
	margin-right: -10000px;
	margin-top: -5px;
	left: 184px;
}

#arc_top
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 792px;
}

#menuu97
{
	z-index: 5;
	width: 396px;
	margin-bottom: -10px;
	margin-right: -10000px;
	left: 822px;
}

#u98
{
	width: 130px;
	min-height: 75px;
	margin-right: -10000px;
}

#u99
{
	width: 130px;
	padding-bottom: 61px;
}

#u99:hover
{
	margin: 0px;
}

#u100-4
{
	width: 130px;
	min-height: 14px;
	margin-right: -10000px;
	top: 30px;
}

#u99:hover #u100-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u105
{
	width: 131px;
	min-height: 75px;
	margin-right: -10000px;
	left: 132px;
}

#u108
{
	width: 131px;
	padding-bottom: 61px;
}

#u99.MuseMenuActive,#u108:hover
{
	margin: 0px;
}

#u110-4
{
	width: 131px;
	min-height: 14px;
	margin-right: -10000px;
	top: 30px;
}

#u99.MuseMenuActive #u100-4,#u108:hover #u110-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u120
{
	width: 131px;
	min-height: 75px;
	margin-right: -10000px;
	left: 265px;
}

#u121
{
	width: 131px;
	padding-bottom: 61px;
}

#u108.MuseMenuActive,#u121:hover
{
	margin: 0px;
}

#u121.MuseMenuActive
{
	margin: 0px;
}

#u122-4
{
	width: 131px;
	min-height: 14px;
	margin-right: -10000px;
	top: 30px;
}

#u108.MuseMenuActive #u110-4,#u121:hover #u122-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u121.MuseMenuActive #u122-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u72-bw
{
	z-index: 2;
	height: 65px;
}

#u206-4
{
	z-index: 24;
	width: 1303px;
	min-height: 19px;
	left: -40px;
	margin-top: 70px;
}

#pamphletu4376
{
	z-index: 68;
	width: 0.01px;
	height: 147px;
	left: -27px;
	margin-top: 86px;
	position: relative;
}

#u4379
{
	position: absolute;
	width: 139px;
	background-color: transparent;
	top: 3px;
}

#u4379popup
{
	z-index: 69;
}

#u4380
{
	z-index: 70;
	vertical-align: top;
	width: 139px;
	height: 140px;
	margin-right: -10000px;
	position: relative;
	background: url("../images/arc-u4380.png") no-repeat 0px 0px;
}

#u4377
{
	z-index: 71;
	width: 134px;
	position: relative;
	margin-right: -10000px;
}

#u4378
{
	position: absolute;
	width: 134px;
	height: 147px;
	border-color: #DEDEDE;
	background-color: transparent;
}

.ie #u4378
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u4378.PamphletThumbSelected
{
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px;
}

#slideshowu4124
{
	z-index: 44;
	width: 0.01px;
	height: 543px;
	margin-left: 119px;
	top: -149px;
	margin-bottom: -149px;
	position: relative;
}

#u4137
{
	position: absolute;
	width: 1032px;
	height: 543px;
	background-color: transparent;
}

#u4137popup
{
	z-index: 45;
}

#u4138
{
	z-index: 46;
	width: 1032px;
	height: 543px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4177
{
	z-index: 48;
	width: 1032px;
	height: 543px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4397
{
	z-index: 50;
	width: 1032px;
	height: 543px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4406
{
	z-index: 52;
	width: 1032px;
	height: 543px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4397_img,#u4406_img
{
	margin-top: -23px;
	margin-bottom: -22px;
}

#u4280
{
	z-index: 54;
	width: 1032px;
	height: 543px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4289
{
	z-index: 56;
	width: 1032px;
	height: 543px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4138_clip,#u4177_clip,#u4397_clip,#u4406_clip,#u4280_clip,#u4289_clip
{
	overflow: hidden;
	width: 1032px;
	height: 543px;
}

#u4138_img,#u4177_img,#u4280_img,#u4289_img
{
	margin-top: -46px;
	margin-bottom: -45px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton,.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u4117
{
	z-index: 36;
	width: 1032px;
	background-color: transparent;
	margin-left: 118px;
	margin-top: 24px;
	position: relative;
}

#u4123-6
{
	z-index: 38;
	width: 1004px;
	min-height: 73px;
	background-color: transparent;
	font-size: 12px;
	line-height: 14px;
	color: #4C4C4C;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 118px;
	margin-top: 24px;
	position: relative;
}

#u4310
{
	z-index: 62;
	width: 1195px;
	background-color: transparent;
	margin-left: 81px;
	margin-top: 3px;
	position: relative;
}

#pu4299
{
	width: 0.01px;
	margin-left: 42px;
	margin-top: 45px;
}

#u4299
{
	z-index: 58;
	width: 1195px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 631px;
}

#u4305
{
	z-index: 60;
	width: 985px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 142px;
}

#u4317-4
{
	z-index: 64;
	width: 186px;
	min-height: 28px;
	background-color: transparent;
	font-size: 12px;
	line-height: 14px;
	color: #4C4C4C;
	position: relative;
	margin-right: -10000px;
	margin-top: 657px;
	left: 134px;
}

#u5259
{
	z-index: 114;
	width: 240px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1473px;
	left: 490px;
}

#u5252
{
	z-index: 112;
	width: 834px;
	background-color: transparent;
	margin-left: 245px;
	margin-top: 26px;
	position: relative;
}

#u5252_img
{
	padding-bottom: 1px;
}

#u5262-4
{
	z-index: 116;
	width: 835px;
	min-height: 57px;
	background-color: transparent;
	font-size: 12px;
	line-height: 15px;
	color: #4C4C4C;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 242px;
	margin-top: 17px;
	position: relative;
}

#pu5277
{
	width: 0.01px;
	margin-left: 245px;
	margin-top: 31px;
}

#u5277
{
	z-index: 122;
	width: 832px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5271
{
	z-index: 124;
	width: 351px;
	background-color: transparent;
	opacity: 0.88;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=88)";
	filter: alpha(opacity=88);
	position: relative;
	margin-right: -10000px;
	left: 481px;
}

#pu5283
{
	width: 0.01px;
	margin-left: 245px;
	margin-top: 63px;
}

#u5283
{
	z-index: 126;
	width: 406px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5301
{
	z-index: 128;
	width: 406px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 425px;
}

#u5301_img
{
	padding-right: 1px;
}

#pu5313
{
	width: 0.01px;
	margin-left: 245px;
	margin-top: 19px;
}

#u5313
{
	z-index: 132;
	width: 406px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
}

#u5313_clip
{
	overflow: hidden;
	width: 406px;
	height: 258px;
}

#u5313_img
{
	margin-left: -27px;
}

#u5307
{
	z-index: 130;
	width: 406px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 424px;
}

#u5265
{
	z-index: 120;
	width: 670px;
	background-color: transparent;
	margin-left: 334px;
	margin-top: 40px;
	position: relative;
}

#u5319
{
	z-index: 134;
	width: 820px;
	background-color: transparent;
	margin-left: 242px;
	margin-top: 64px;
	position: relative;
}

#pu5331
{
	width: 0.01px;
	margin-left: 242px;
	margin-top: 42px;
}

#u5331
{
	z-index: 138;
	width: 264px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5325
{
	z-index: 136;
	width: 264px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 278px;
}

#u5336
{
	z-index: 140;
	width: 264px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 556px;
}

#u5331_img,#u5325_img,#u5336_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#u5258
{
	z-index: 74;
	width: 263px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 509px;
	margin-top: 68px;
	position: relative;
}

#pamphletu4439
{
	z-index: 75;
	width: 0.01px;
	height: 105px;
	position: relative;
	margin-right: -10000px;
}

#u4501
{
	position: absolute;
	width: 69px;
	background-color: transparent;
	top: 17px;
	left: 100px;
}

#u4501popup
{
	z-index: 76;
}

#u4502
{
	z-index: 77;
	vertical-align: top;
	width: 69px;
	height: 69px;
	margin-right: -10000px;
	position: relative;
	background: url("../images/top-u4502.png") no-repeat 0px 0px;
}

#u4440
{
	z-index: 78;
	width: 261px;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#u4441
{
	position: absolute;
	width: 263px;
	border-color: #DEDEDE;
	background-color: transparent;
	left: -2px;
}

#pamphletu4442
{
	z-index: 95;
	width: 0.01px;
	height: 101px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#u4456
{
	position: absolute;
	width: 69px;
	background-color: transparent;
	top: 17px;
	left: 14px;
}

#u4456popup
{
	z-index: 96;
}

#u4457
{
	z-index: 97;
	vertical-align: top;
	width: 69px;
	height: 69px;
	margin-right: -10000px;
	position: relative;
	background: url("../images/left-u4457.png") no-repeat 0px 0px;
}

#u4443
{
	z-index: 98;
	width: 93px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 2px;
}

#u4444
{
	position: absolute;
	width: 95px;
	border-color: #DEDEDE;
	background-color: transparent;
	padding-bottom: 4px;
	top: -6px;
	left: -2px;
}

#pamphletu4445
{
	z-index: 100;
	width: 0.01px;
	height: 96px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 2px;
}

#u4452
{
	position: absolute;
	width: 69px;
	background-color: transparent;
	top: 11px;
	left: 12px;
}

#u4452popup
{
	z-index: 101;
}

#u4453
{
	z-index: 102;
	vertical-align: top;
	width: 69px;
	height: 69px;
	margin-right: -10000px;
	position: relative;
	background: url("../images/left-u4453.png") no-repeat 0px 0px;
}

#u4446
{
	z-index: 103;
	width: 93px;
	position: relative;
	margin-right: -10000px;
}

#u4447
{
	position: absolute;
	width: 93px;
	height: 96px;
	border-color: #DEDEDE;
	background-color: transparent;
}

.ie #u4378.PamphletThumbSelected,.ie #u4447
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u4441.PamphletThumbSelected,#u4447.PamphletThumbSelected
{
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px;
}

#pamphletu4464
{
	z-index: 80;
	width: 0.01px;
	height: 96px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 87px;
}

#u4473
{
	position: absolute;
	width: 69px;
	background-color: transparent;
	top: 7px;
	left: 12px;
}

#u4473popup
{
	z-index: 81;
}

#u4474
{
	z-index: 82;
	vertical-align: top;
	width: 69px;
	height: 69px;
	margin-right: -10000px;
	position: relative;
	background: url("../images/top-u4474.png") no-repeat 0px 0px;
}

#u4465
{
	z-index: 83;
	width: 93px;
	position: relative;
	margin-right: -10000px;
}

#u4466
{
	position: absolute;
	width: 93px;
	height: 96px;
	border-color: #DEDEDE;
	background-color: transparent;
}

.ie #u4447.PamphletThumbSelected,.ie #u4466
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u4466.PamphletThumbSelected
{
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px;
}

#pamphletu4475
{
	z-index: 85;
	width: 0.01px;
	height: 96px;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	left: 168px;
}

#u4482
{
	position: absolute;
	width: 69px;
	background-color: transparent;
	top: 17px;
	left: 14px;
}

#u4482popup
{
	z-index: 86;
}

#u4483
{
	z-index: 87;
	vertical-align: top;
	width: 69px;
	height: 69px;
	margin-right: -10000px;
	position: relative;
	background: url("../images/right-u4483.png") no-repeat 0px 0px;
}

#u4484
{
	z-index: 88;
	width: 93px;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#u4485
{
	position: absolute;
	width: 95px;
	border-color: #DEDEDE;
	background-color: transparent;
	padding-bottom: 9px;
	left: -2px;
}

#pamphletu4486
{
	z-index: 90;
	width: 0.01px;
	height: 96px;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#u4489
{
	position: absolute;
	width: 69px;
	background-color: transparent;
	top: 16px;
	left: 12px;
}

#u4456.PamphletThumbSelected,#u4452.PamphletThumbSelected,#u4473.PamphletThumbSelected,#u4482.PamphletThumbSelected,#u4489.PamphletThumbSelected
{
	background-color: transparent;
	margin: 0px;
}

#u4489popup
{
	z-index: 91;
}

#u4490
{
	z-index: 92;
	vertical-align: top;
	width: 69px;
	height: 69px;
	margin-right: -10000px;
	position: relative;
	background: url("../images/right-u4490.png") no-repeat 0px 0px;
}

#u4491
{
	z-index: 93;
	width: 93px;
	position: relative;
	margin-right: -10000px;
}

#u4492
{
	position: absolute;
	width: 93px;
	height: 96px;
	border-color: #DEDEDE;
	background-color: transparent;
}

.ie #u4466.PamphletThumbSelected,.ie #u4492
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u4492.PamphletThumbSelected
{
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px;
}

.ie #u4492.PamphletThumbSelected
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#buttonu4505
{
	z-index: 105;
	width: 170px;
	border-color: #787878;
	background-color: #FFFFFF;
	opacity: 0.24;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=24)";
	filter: alpha(opacity=24);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 116px;
	left: 46px;
}

#buttonu4505:hover
{
	border-color: #7F7F7F;
	background-color: transparent;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin: 116px -10000px 0px 0px;
}

#u4506-6
{
	z-index: 106;
	width: 156px;
	min-height: 14px;
	background-color: transparent;
	color: #3C3C3C;
	font-size: 14px;
	letter-spacing: 1px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 4px;
}

#buttonu4505:hover #u4506-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 9px -10000px 0px 0px;
}

#buttonu4505.ButtonSelected #u4506-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 9px -10000px 0px 0px;
}

#buttonu4505:hover #u4506-6 p,#buttonu4505:hover #u4506-6 span
{
	color: #FF755B;
	visibility: inherit;
}

#buttonu4505.ButtonSelected #u4506-6 p,#buttonu4505.ButtonSelected #u4506-6 span
{
	color: #7F7F7F;
	visibility: inherit;
}

#u4506-4
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u4506
{
	font-size: 12px;
	letter-spacing: -6px;
	color: #7F7F7F;
	line-height: 14px;
}

#u4506-2
{
	font-size: 11px;
	color: #7F7F7F;
	line-height: 13px;
}

#u4506-3
{
	font-size: 12px;
	color: #7F7F7F;
	line-height: 14px;
}

#u1361-4
{
	z-index: 28;
	width: 1303px;
	min-height: 19px;
	left: -40px;
	margin-top: 21px;
}

#u1362-4
{
	z-index: 32;
	width: 339px;
	min-height: 22px;
	left: -27px;
	margin-top: 16px;
}

body
{
	position: relative;
	min-width: 1224px;
	padding-top: 36px;
	padding-bottom: 35px;
}

#page .verticalspacer
{
	clear: both;
}

