.version.battlemaze /* version checker */
{
	color: #0000F6;
	background-color: #230EFF;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1224px;
	min-height: 3657px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -38px;
}

#u72
{
	z-index: 2;
}

#u72_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1224px;
	left: -100px;
}

#u73
{
	z-index: 3;
	margin-bottom: -61px;
	margin-right: -10000px;
	margin-top: -5px;
	left: 184px;
}

#battlemazetop
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 703px;
}

#menuu97
{
	z-index: 5;
	width: 396px;
	margin-bottom: -10px;
	margin-right: -10000px;
	left: 822px;
}

#u98
{
	width: 130px;
	min-height: 75px;
	margin-right: -10000px;
}

#u99
{
	width: 130px;
	padding-bottom: 61px;
}

#u99:hover
{
	margin: 0px;
}

#u100-4
{
	width: 130px;
	min-height: 14px;
	margin-right: -10000px;
	top: 30px;
}

#u99:hover #u100-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u105
{
	width: 131px;
	min-height: 75px;
	margin-right: -10000px;
	left: 132px;
}

#u108
{
	width: 131px;
	padding-bottom: 61px;
}

#u99.MuseMenuActive,#u108:hover
{
	margin: 0px;
}

#u110-4
{
	width: 131px;
	min-height: 14px;
	margin-right: -10000px;
	top: 30px;
}

#u99.MuseMenuActive #u100-4,#u108:hover #u110-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u120
{
	width: 131px;
	min-height: 75px;
	margin-right: -10000px;
	left: 265px;
}

#u121
{
	width: 131px;
	padding-bottom: 61px;
}

#u108.MuseMenuActive,#u121:hover
{
	margin: 0px;
}

#u121.MuseMenuActive
{
	margin: 0px;
}

#u122-4
{
	width: 131px;
	min-height: 14px;
	margin-right: -10000px;
	top: 30px;
}

#u108.MuseMenuActive #u110-4,#u121:hover #u122-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u121.MuseMenuActive #u122-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u72-bw
{
	z-index: 2;
	height: 65px;
}

#u206-4
{
	z-index: 24;
	width: 1303px;
	min-height: 19px;
	left: -40px;
	margin-top: 70px;
}

#ppamphletu5011
{
	width: 0.01px;
	margin-left: 57px;
	margin-top: 27px;
}

#pamphletu5011
{
	z-index: 122;
	width: 0.01px;
	height: 178px;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
}

#u5016
{
	position: absolute;
	width: 132px;
	background-color: transparent;
	top: 18px;
	left: 12px;
}

#u5016popup
{
	z-index: 123;
}

#u5017
{
	z-index: 124;
	vertical-align: top;
	width: 132px;
	height: 133px;
	margin-right: -10000px;
	position: relative;
	background: url("../images/uiux-u5017.png") no-repeat 0px 0px;
}

#u5012
{
	z-index: 125;
	width: 149px;
	position: relative;
	margin-right: -10000px;
}

#u5013
{
	position: absolute;
	width: 149px;
	height: 178px;
	border-color: #DEDEDE;
	background-color: transparent;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u4887
{
	z-index: 36;
	width: 352px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 193px;
}

#u4889
{
	z-index: 38;
	width: 361px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 582px;
}

#u4891-4
{
	z-index: 40;
	width: 826px;
	min-height: 54px;
	background-color: transparent;
	font-size: 12px;
	line-height: 15px;
	color: #4C4C4C;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 216px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#pu4892
{
	width: 0.01px;
	margin-left: 201px;
}

#u4892
{
	z-index: 44;
	width: 433px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
}

#u4892_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#u4894-4
{
	z-index: 46;
	width: 316px;
	min-height: 18px;
	background-color: transparent;
	font-size: 12px;
	line-height: 15px;
	color: #4C4C4C;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 714px;
	left: 71px;
}

#u4895
{
	z-index: 50;
	width: 443px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 394px;
}

#u4897-4
{
	z-index: 52;
	width: 287px;
	min-height: 18px;
	background-color: transparent;
	font-size: 12px;
	line-height: 15px;
	color: #4C4C4C;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 714px;
	left: 479px;
}

#pu4898
{
	width: 0.01px;
	margin-left: 189px;
	margin-top: 13px;
}

#u4898
{
	z-index: 56;
	width: 444px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4900-4
{
	z-index: 58;
	width: 358px;
	min-height: 49px;
	background-color: transparent;
	font-size: 12px;
	line-height: 15px;
	color: #4C4C4C;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 717px;
	left: 46px;
}

#u4901
{
	z-index: 62;
	width: 434px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 422px;
}

#u4903-4
{
	z-index: 64;
	width: 326px;
	min-height: 49px;
	background-color: transparent;
	font-size: 12px;
	line-height: 15px;
	color: #4C4C4C;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 717px;
	left: 476px;
}

#pu4904
{
	width: 0.01px;
	margin-left: 199px;
	margin-top: 52px;
}

#u4904
{
	z-index: 68;
	width: 428px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4906-4
{
	z-index: 70;
	width: 338px;
	min-height: 26px;
	background-color: transparent;
	font-size: 12px;
	line-height: 15px;
	color: #4C4C4C;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 683px;
	left: 57px;
}

#u4907
{
	z-index: 74;
	width: 428px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 417px;
}

#u4909-4
{
	z-index: 76;
	width: 334px;
	min-height: 30px;
	background-color: transparent;
	font-size: 12px;
	line-height: 15px;
	color: #4C4C4C;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 683px;
	left: 464px;
}

#u5176
{
	z-index: 127;
	width: 240px;
	background-color: transparent;
	margin-left: 492px;
	margin-top: 61px;
	position: relative;
}

#u4910-4
{
	z-index: 80;
	width: 975px;
	min-height: 49px;
	background-color: transparent;
	font-size: 12px;
	line-height: 15px;
	color: #4C4C4C;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 197px;
	margin-top: 44px;
	position: relative;
}

#u4920
{
	z-index: 84;
	width: 261px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 482px;
	margin-top: 60px;
	position: relative;
}

#pamphletu4965
{
	z-index: 105;
	width: 0.01px;
	height: 101px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u4983popup
{
	z-index: 106;
}

#u4984
{
	z-index: 107;
	vertical-align: top;
	width: 69px;
	height: 69px;
	margin-right: -10000px;
	position: relative;
	background: url("../images/left-u4984.png") no-repeat 0px 0px;
}

#u4968
{
	z-index: 108;
	width: 93px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 2px;
}

#u4969
{
	position: absolute;
	width: 95px;
	border-color: #DEDEDE;
	background-color: transparent;
	padding-bottom: 4px;
	top: -6px;
	left: -2px;
}

#pamphletu4970
{
	z-index: 110;
	width: 0.01px;
	height: 96px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 2px;
}

#u4977
{
	position: absolute;
	width: 69px;
	background-color: transparent;
	top: 11px;
	left: 12px;
}

#u4977popup
{
	z-index: 111;
}

#u4978
{
	z-index: 112;
	vertical-align: top;
	width: 69px;
	height: 69px;
	margin-right: -10000px;
	position: relative;
	background: url("../images/left-u4978.png") no-repeat 0px 0px;
}

#u4975
{
	z-index: 113;
	width: 93px;
	position: relative;
	margin-right: -10000px;
}

#u4976
{
	position: absolute;
	width: 93px;
	height: 96px;
	border-color: #DEDEDE;
	background-color: transparent;
}

.ie #u5013,.ie #u4976
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u4976.PamphletThumbSelected
{
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px;
}

#pamphletu4921
{
	z-index: 85;
	width: 0.01px;
	height: 96px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 82px;
}

#u4924
{
	position: absolute;
	width: 69px;
	background-color: transparent;
	top: 8px;
	left: 15px;
}

#u4924popup
{
	z-index: 86;
}

#u4925
{
	z-index: 87;
	vertical-align: top;
	width: 69px;
	height: 69px;
	margin-right: -10000px;
	position: relative;
	background: url("../images/top-u4925.png") no-repeat 0px 0px;
}

#u4930
{
	z-index: 88;
	width: 93px;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#u4931
{
	position: absolute;
	width: 95px;
	border-color: #DEDEDE;
	background-color: transparent;
	left: -2px;
}

#pamphletu4932
{
	z-index: 90;
	width: 0.01px;
	height: 96px;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#u4941
{
	position: absolute;
	width: 69px;
	background-color: transparent;
	top: 7px;
	left: 12px;
}

#u4941popup
{
	z-index: 91;
}

#u4942
{
	z-index: 92;
	vertical-align: top;
	width: 69px;
	height: 69px;
	margin-right: -10000px;
	position: relative;
	background: url("../images/top-u4942.png") no-repeat 0px 0px;
}

#u4935
{
	z-index: 93;
	width: 93px;
	position: relative;
	margin-right: -10000px;
}

#u4936
{
	position: absolute;
	width: 93px;
	height: 96px;
	border-color: #DEDEDE;
	background-color: transparent;
}

.ie #u4976.PamphletThumbSelected,.ie #u4936
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u4931.PamphletThumbSelected,#u4936.PamphletThumbSelected
{
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px;
}

#pamphletu4943
{
	z-index: 95;
	width: 0.01px;
	height: 96px;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	left: 166px;
}

#u4983,#u4961
{
	position: absolute;
	width: 69px;
	background-color: transparent;
	top: 17px;
	left: 14px;
}

#u4961popup
{
	z-index: 96;
}

#u4962
{
	z-index: 97;
	vertical-align: top;
	width: 69px;
	height: 69px;
	margin-right: -10000px;
	position: relative;
	background: url("../images/right-u4962.png") no-repeat 0px 0px;
}

#u4944
{
	z-index: 98;
	width: 93px;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#u4945
{
	position: absolute;
	width: 95px;
	border-color: #DEDEDE;
	background-color: transparent;
	padding-bottom: 9px;
	left: -2px;
}

#pamphletu4946
{
	z-index: 100;
	width: 0.01px;
	height: 96px;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#u4951
{
	position: absolute;
	width: 69px;
	background-color: transparent;
	top: 16px;
	left: 12px;
}

#u4977.PamphletThumbSelected,#u4941.PamphletThumbSelected,#u4951.PamphletThumbSelected
{
	background-color: transparent;
	margin: 0px;
}

#u4951popup
{
	z-index: 101;
}

#u4952
{
	z-index: 102;
	vertical-align: top;
	width: 69px;
	height: 69px;
	margin-right: -10000px;
	position: relative;
	background: url("../images/right-u4952.png") no-repeat 0px 0px;
}

#u4953
{
	z-index: 103;
	width: 93px;
	position: relative;
	margin-right: -10000px;
}

#u4954
{
	position: absolute;
	width: 93px;
	height: 96px;
	border-color: #DEDEDE;
	background-color: transparent;
}

.ie #u4936.PamphletThumbSelected,.ie #u4954
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u4954.PamphletThumbSelected
{
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px;
}

.ie #u4954.PamphletThumbSelected
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#buttonu4987
{
	z-index: 115;
	width: 170px;
	border-color: #787878;
	background-color: #FFFFFF;
	opacity: 0.24;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=24)";
	filter: alpha(opacity=24);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 9px;
	margin-left: 527px;
	margin-top: 10px;
	position: relative;
}

#buttonu4987:hover
{
	border-color: #7F7F7F;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin: 10px 0px 0px 527px;
}

#u4988-6
{
	z-index: 116;
	width: 156px;
	min-height: 14px;
	background-color: transparent;
	color: #3C3C3C;
	font-size: 14px;
	letter-spacing: 1px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 4px;
}

#buttonu4987:hover #u4988-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 9px -10000px 0px 0px;
}

#buttonu4987.ButtonSelected #u4988-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 9px -10000px 0px 0px;
}

#buttonu4987:hover #u4988-6 p,#buttonu4987:hover #u4988-6 span
{
	color: #FF755B;
	visibility: inherit;
}

#buttonu4987.ButtonSelected #u4988-6 p,#buttonu4987.ButtonSelected #u4988-6 span
{
	color: #7F7F7F;
	visibility: inherit;
}

#u4988-4
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u4988
{
	font-size: 12px;
	letter-spacing: -6px;
	color: #7F7F7F;
	line-height: 14px;
}

#u4988-2
{
	font-size: 11px;
	color: #7F7F7F;
	line-height: 13px;
}

#u4988-3
{
	font-size: 12px;
	color: #7F7F7F;
	line-height: 14px;
}

#u1361-4
{
	z-index: 28;
	width: 1303px;
	min-height: 19px;
	left: -40px;
	margin-top: 43px;
}

#u1362-4
{
	z-index: 32;
	width: 339px;
	min-height: 22px;
	left: -27px;
	margin-top: 15px;
}

body
{
	position: relative;
	min-width: 1224px;
	padding-top: 36px;
	padding-bottom: 35px;
}

#page .verticalspacer
{
	clear: both;
}

