#navbar {
  background: #EEEEEE;
  height: 20px;
  padding: 14px 0px 20px 0px;
  width: 100%;
}
#navbar #nav-link-wrap {
  text-align: center;
}
#navbar #nav-link-wrap a {
  padding: 2px 20px 8px 20px;
  text-decoration: none;
  font-family: Avenir Next, Gill Sans, sans-serif;
  display: inline-block;
  font-size: 18px;
  font-weight: 300;
  transition: all .25s ease-in-out;
}
#navbar #nav-link-wrap a:link {
  color: #929292;
}
#navbar #nav-link-wrap a:visited {
  color: #929292;
}
#navbar #nav-link-wrap a:hover {
  color: #FE777A;
  border-bottom: 2px solid #FE777A;
  transition: all .25s ease-in-out;
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
  transform: translateY(-3px);
}
#navbar #nav-link-wrap a:active {
  color: #FE777A;
  border-bottom: 3px solid #FE777A;
}

body {
  background: #FDFDFD;
  margin: auto;
}
body .introduction {
  display: none;
  text-align: center;
  margin-top: 100px;
}
body .introduction #avatar {
  text-align: center;
  height: 150px;
  width: auto;
  margin-bottom: 20px;
}
body .introduction h1 {
  width: 420px;
  color: #585858;
  font-family: Avenir Next, Gill Sans, sans-serif;
  font-size: 18px;
  font-weight: 300;
  display: table;
  margin: 0 auto;
}
body .project-intro {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 120px;
}
body .project-intro #sub-intro h3 {
  color: #929292;
  font-family: Avenir Next, Gill Sans, sans-serif;
  font-weight: 300;
  font-size: 18px;
}
body .project-intro .current-past-projects {
  display: table;
  margin: 0 auto;
  width: 450px;
      /*#past-wrap{
        float: right;
        a{
          text-decoration: none;
        }
        p{
          font-size: 15px;
          font-weight: 300;
          color: $gray;
          margin-top: -1em;
          font-family: $main-font;
          cursor: default;
        }
        #past-projects{
          height:120px;
          width: auto;
          margin: 25px 45px;

          &:hover{
            -webkit-transition: all .3s ease-in-out;
            -moz-transition: all .3s ease-in-out;
            -ms-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
                  cursor: pointer;
                  transform: scale(1.05);

          }
        }
      }*/
}
body .project-intro .current-past-projects #current-wrap {
  margin: 0 auto;
  display: table;
}
body .project-intro .current-past-projects #current-wrap a {
  text-decoration: none;
}
body .project-intro .current-past-projects #current-wrap #current-projects {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  margin-top: 1em;
  font-family: Avenir Next, Gill Sans, sans-serif;
  cursor: default;
  background-color: #FE777A;
  padding: 10px 20px 10px 20px;
  border-radius: 3px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
body .project-intro .current-past-projects #current-wrap #current-projects:hover {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  cursor: pointer;
  transform: scale(1.05);
  background-color: #FE777A;
  -webkit-box-shadow: 3px 3px 0px 0px #FFAFAD;
  -moz-box-shadow: 3px 3px 0px 0px #FFAFAD;
  box-shadow: 3px 3px 0px 0px #FFAFAD;
}
body .project-container {
  margin-top: 130px;
  display: none;
}
body .project-container .project-wrap {
  display: table;
  margin: 0 auto;
  width: 100%;
  background-color: #FAFAFA;
  padding: 40px 0px 40px 0px;
}
body .project-container .project-wrap #individual-wrap {
  display: table;
  margin: 0 auto;
  width: 1120px;
}
body .project-container .project-wrap #individual-wrap .project {
  display: inline-block;
  text-align: center;
  margin: 35px;
  margin-bottom: 30px;
  /*.divider{
    margin-top: 5px;
    height: 1px;
    width: 100%;
    border-bottom: 1px solid #dcdcdc;
  }*/
}
body .project-container .project-wrap #individual-wrap .project img {
  object-fit: cover;
  height: 260px;
  width: 300px;
  border-radius: 13px;
  opacity: .9;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}
body .project-container .project-wrap #individual-wrap .project img:hover {
  opacity: 1;
  transition: all .3s ease-in-out;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  transform: translateY(-10px);
  cursor: pointer;
  transform: scale(1.05);
}
body .project-container .project-wrap #individual-wrap .project .project-label {
  padding: 5px 0px 0px 0px;
  text-align: left;
  font-family: Avenir Next, Gill Sans, sans-serif;
  color: #585858;
  font-weight: 500;
}
body .past-project-container {
  margin-top: 130px;
  display: none;
}
body .past-project-container .past-project-wrap {
  display: table;
  margin: 0 auto;
  width: 100%;
  background-color: #EEEEEE;
}
body .past-project-container .past-project-wrap #past-individual-wrap {
  display: table;
  margin: 0 auto;
  width: 1120px;
}
body .past-project-container .past-project-wrap #past-individual-wrap .past-project {
  display: inline-block;
  text-align: center;
  margin: 55px;
  margin-bottom: 30px;
  /*.divider{
    margin-top: 5px;
    height: 1px;
    width: 100%;
    border-bottom: 1px solid #dcdcdc;
  }*/
}
body .past-project-container .past-project-wrap #past-individual-wrap .past-project img {
  object-fit: cover;
  height: 260px;
  width: 260px;
  border-radius: 500px;
  opacity: .9;
}
body .past-project-container .past-project-wrap #past-individual-wrap .past-project img:hover {
  opacity: 1;
  transition: all .3s ease-in-out;
  /*-webkit-transform: translateY(-10px);
   -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
     -o-transform: translateY(-10px);
        transform: translateY(-10px);*/
  cursor: pointer;
  transform: scale(1.05);
  border-radius: 30px;
}
body .past-project-container .past-project-wrap #past-individual-wrap .past-project .past-project-label {
  padding: 5px 0px 0px 0px;
  text-align: left;
  font-family: Avenir Next, Gill Sans, sans-serif;
  color: #585858;
  font-weight: 500;
}

#footer {
  background-color: #EEEEEE;
  width: 100%;
  height: 100px;
  margin-top: 20%;
  bottom: 0;
  left: 0;
  clear: both;
}
#footer .footer-text {
  color: #9B9B9B;
  font-family: Avenir Next, Gill Sans, sans-serif;
  font-size: 12px;
  text-align: center;
  padding-top: 3.5em;
}

.back-to-top {
  text-align: center;
  margin-top: 16em;
  margin-bottom: 20em;
  position: relative;
}
.back-to-top img {
  height: auto;
  width: 55px;
  opacity: .75;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}
.back-to-top img:hover {
  opacity: 1;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  transform: translateY(-5px);
  cursor: pointer;
}

@media screen and (min-width: 300px) and (max-width: 800px) {
  #navbar {
    background: #EEEEEE;
    height: 20px;
    padding: 20px 0px 17px 0px;
    width: 100%;
  }

  .introduction {
    width: 95% !important;
  }
  .introduction h1 {
    width: 75% !important;
  }
  .introduction h3 {
    width: 95% !important;
  }

  .current-past-projects {
    width: 95% !important;
  }
  .current-past-projects #current-wrap {
    float: none !important;
  }
  .current-past-projects #past-wrap {
    float: none !important;
  }

  .project-wrap {
    width: 90% !important;
  }
  .project-wrap #individual-wrap {
    display: table !important;
    margin: 0 auto !important;
    width: 90% !important;
  }
  .project-wrap #individual-wrap img {
    object-fit: cover;
    height: 100% !important;
    width: 100% !important;
    border-radius: 4px;
  }
}
