.version.logo /* version checker */
{
	color: #00000B;
	background-color: #792182;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1224px;
	min-height: 1001px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -38px;
}

#u72
{
	z-index: 2;
}

#u72_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1224px;
	left: -100px;
}

#u73
{
	z-index: 3;
	margin-bottom: -61px;
	margin-right: -10000px;
	margin-top: -5px;
	left: 184px;
}

#menuu97
{
	z-index: 5;
	width: 396px;
	margin-bottom: -10px;
	margin-right: -10000px;
	left: 822px;
}

#u98
{
	width: 130px;
	min-height: 75px;
	margin-right: -10000px;
}

#u99
{
	width: 130px;
	padding-bottom: 61px;
}

#u99:hover
{
	margin: 0px;
}

#u100-4
{
	width: 130px;
	min-height: 14px;
	margin-right: -10000px;
	top: 30px;
}

#u99:hover #u100-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u105
{
	width: 131px;
	min-height: 75px;
	margin-right: -10000px;
	left: 132px;
}

#u108
{
	width: 131px;
	padding-bottom: 61px;
}

#u99.MuseMenuActive,#u108:hover
{
	margin: 0px;
}

#u110-4
{
	width: 131px;
	min-height: 14px;
	margin-right: -10000px;
	top: 30px;
}

#u99.MuseMenuActive #u100-4,#u108:hover #u110-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u120
{
	width: 131px;
	min-height: 75px;
	margin-right: -10000px;
	left: 265px;
}

#u121
{
	width: 131px;
	padding-bottom: 61px;
}

#u108.MuseMenuActive,#u121:hover
{
	margin: 0px;
}

#u121.MuseMenuActive
{
	margin: 0px;
}

#u122-4
{
	width: 131px;
	min-height: 14px;
	margin-right: -10000px;
	top: 30px;
}

#u108.MuseMenuActive #u110-4,#u121:hover #u122-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u121.MuseMenuActive #u122-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u72-bw
{
	z-index: 2;
	height: 65px;
}

#u206-4
{
	z-index: 24;
	width: 1303px;
	min-height: 19px;
	left: -40px;
	margin-top: 70px;
}

#pamphletu2225
{
	z-index: 50;
	width: 0.01px;
	height: 268px;
	margin-left: 27px;
	margin-top: 3px;
	position: relative;
}

#u2226
{
	position: absolute;
	width: 139px;
	background-color: transparent;
	top: 60px;
	left: 21px;
}

#u2226popup
{
	z-index: 51;
}

#u2227
{
	z-index: 52;
	vertical-align: top;
	width: 139px;
	height: 140px;
	margin-right: -10000px;
	position: relative;
	background: url("../images/logo-u2227.png") no-repeat 0px 0px;
}

#u2230
{
	z-index: 53;
	width: 177px;
	position: relative;
	margin-right: -10000px;
}

#u2231
{
	position: absolute;
	width: 177px;
	height: 268px;
	border-color: #DEDEDE;
	background-color: transparent;
}

.ie #u2231
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u2231.PamphletThumbSelected
{
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#ppu2184
{
	width: 0.01px;
	margin-left: 234px;
	margin-top: -260px;
}

#pu2184
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 43px;
}

#u2184
{
	z-index: 36;
	width: 184px;
	background-color: transparent;
	margin-left: 2px;
	position: relative;
}

#u2212
{
	z-index: 46;
	width: 186px;
	background-color: transparent;
	margin-top: 54px;
	position: relative;
}

#pu2189
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 274px;
}

#u2189
{
	z-index: 38;
	width: 276px;
	background-color: transparent;
	position: relative;
}

#u2194
{
	z-index: 40;
	width: 166px;
	background-color: transparent;
	margin-left: 66px;
	margin-top: 22px;
	position: relative;
}

#pu2215
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 39px;
	margin-left: 613px;
}

#u2215
{
	z-index: 48;
	width: 194px;
	background-color: transparent;
	margin-left: 56px;
	position: relative;
}

#u4719
{
	z-index: 83;
	width: 315px;
	background-color: transparent;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#pu2199
{
	width: 0.01px;
	margin-left: 217px;
	margin-top: 1px;
}

#u2199
{
	z-index: 42;
	width: 219px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 71px;
}

#u2209
{
	z-index: 44;
	width: 231px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 318px;
}

#u5186
{
	z-index: 85;
	width: 222px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 697px;
}

#u2947
{
	z-index: 55;
	width: 182px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 571px;
	margin-top: 17px;
	position: relative;
}

#pamphletu2925
{
	z-index: 66;
	width: 0.01px;
	height: 101px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u2928popup
{
	z-index: 67;
}

#u2929
{
	z-index: 68;
	vertical-align: top;
	width: 69px;
	height: 69px;
	margin-right: -10000px;
	position: relative;
	background: url("../images/left-u2929.png") no-repeat 0px 0px;
}

#u2934
{
	z-index: 69;
	width: 93px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 2px;
}

#u2935
{
	position: absolute;
	width: 95px;
	border-color: #DEDEDE;
	background-color: transparent;
	padding-bottom: 4px;
	top: -6px;
	left: -2px;
}

#pamphletu2936
{
	z-index: 71;
	width: 0.01px;
	height: 96px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 2px;
}

#u2945
{
	position: absolute;
	width: 69px;
	background-color: transparent;
	top: 11px;
	left: 12px;
}

#u2945popup
{
	z-index: 72;
}

#u2946
{
	z-index: 73;
	vertical-align: top;
	width: 69px;
	height: 69px;
	margin-right: -10000px;
	position: relative;
	background: url("../images/left-u2946.png") no-repeat 0px 0px;
}

#u2943
{
	z-index: 74;
	width: 93px;
	position: relative;
	margin-right: -10000px;
}

#u2944
{
	position: absolute;
	width: 93px;
	height: 96px;
	border-color: #DEDEDE;
	background-color: transparent;
}

.ie #u2231.PamphletThumbSelected,.ie #u2944
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u2944.PamphletThumbSelected
{
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px;
}

#pamphletu2903
{
	z-index: 56;
	width: 0.01px;
	height: 96px;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	left: 87px;
}

#u2928,#u2923
{
	position: absolute;
	width: 69px;
	background-color: transparent;
	top: 17px;
	left: 14px;
}

#u2923popup
{
	z-index: 57;
}

#u2924
{
	z-index: 58;
	vertical-align: top;
	width: 69px;
	height: 69px;
	margin-right: -10000px;
	position: relative;
	background: url("../images/right-u2924.png") no-repeat 0px 0px;
}

#u2904
{
	z-index: 59;
	width: 93px;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#u2905
{
	position: absolute;
	width: 95px;
	border-color: #DEDEDE;
	background-color: transparent;
	padding-bottom: 9px;
	left: -2px;
}

#pamphletu2906
{
	z-index: 61;
	width: 0.01px;
	height: 96px;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#u2915
{
	position: absolute;
	width: 69px;
	background-color: transparent;
	top: 16px;
	left: 12px;
}

#u2945.PamphletThumbSelected,#u2915.PamphletThumbSelected
{
	background-color: transparent;
	margin: 0px;
}

#u2915popup
{
	z-index: 62;
}

#u2916
{
	z-index: 63;
	vertical-align: top;
	width: 69px;
	height: 69px;
	margin-right: -10000px;
	position: relative;
	background: url("../images/right-u2916.png") no-repeat 0px 0px;
}

#u2911
{
	z-index: 64;
	width: 93px;
	position: relative;
	margin-right: -10000px;
}

#u2912
{
	position: absolute;
	width: 93px;
	height: 96px;
	border-color: #DEDEDE;
	background-color: transparent;
}

.ie #u2944.PamphletThumbSelected,.ie #u2912
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u2912.PamphletThumbSelected
{
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px;
}

.ie #u2912.PamphletThumbSelected
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#buttonu3811
{
	z-index: 76;
	width: 170px;
	border-color: #787878;
	background-color: #FFFFFF;
	opacity: 0.24;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=24)";
	filter: alpha(opacity=24);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 9px;
	margin-left: 583px;
	margin-top: 11px;
	position: relative;
}

#buttonu3811:hover
{
	border-color: #7F7F7F;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin: 11px 0px 0px 583px;
}

#u3812-6
{
	z-index: 77;
	width: 156px;
	min-height: 14px;
	background-color: transparent;
	color: #3C3C3C;
	font-size: 14px;
	letter-spacing: 1px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 4px;
}

#buttonu3811:hover #u3812-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 9px -10000px 0px 0px;
}

#buttonu3811.ButtonSelected #u3812-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 9px -10000px 0px 0px;
}

#buttonu3811:hover #u3812-6 p,#buttonu3811:hover #u3812-6 span
{
	color: #FF755B;
	visibility: inherit;
}

#buttonu3811.ButtonSelected #u3812-6 p,#buttonu3811.ButtonSelected #u3812-6 span
{
	color: #7F7F7F;
	visibility: inherit;
}

#u3812-4
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u3812
{
	font-size: 12px;
	letter-spacing: -6px;
	color: #7F7F7F;
	line-height: 14px;
}

#u3812-2
{
	font-size: 11px;
	color: #7F7F7F;
	line-height: 13px;
}

#u3812-3
{
	font-size: 12px;
	color: #7F7F7F;
	line-height: 14px;
}

#u1361-4
{
	z-index: 28;
	width: 1303px;
	min-height: 19px;
	left: -40px;
	margin-top: 21px;
}

#u1362-4
{
	z-index: 32;
	width: 339px;
	min-height: 22px;
	left: -27px;
	margin-top: 16px;
}

body
{
	position: relative;
	min-width: 1224px;
	padding-top: 36px;
	padding-bottom: 32px;
}

#page .verticalspacer
{
	clear: both;
}

