.version.package /* version checker */
{
	color: #000016;
	background-color: #48E4C5;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1224px;
	min-height: 2584px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -38px;
}

#u72
{
	z-index: 2;
}

#u72_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1224px;
	left: -100px;
}

#u73
{
	z-index: 3;
	margin-bottom: -61px;
	margin-right: -10000px;
	margin-top: -5px;
	left: 184px;
}

#label_top
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 647px;
}

#menuu97
{
	z-index: 5;
	width: 396px;
	margin-bottom: -10px;
	margin-right: -10000px;
	left: 822px;
}

#u98
{
	width: 130px;
	min-height: 75px;
	margin-right: -10000px;
}

#u99
{
	width: 130px;
	padding-bottom: 61px;
}

#u99:hover
{
	margin: 0px;
}

#u100-4
{
	width: 130px;
	min-height: 14px;
	margin-right: -10000px;
	top: 30px;
}

#u99:hover #u100-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u105
{
	width: 131px;
	min-height: 75px;
	margin-right: -10000px;
	left: 132px;
}

#u108
{
	width: 131px;
	padding-bottom: 61px;
}

#u99.MuseMenuActive,#u108:hover
{
	margin: 0px;
}

#u110-4
{
	width: 131px;
	min-height: 14px;
	margin-right: -10000px;
	top: 30px;
}

#u99.MuseMenuActive #u100-4,#u108:hover #u110-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u120
{
	width: 131px;
	min-height: 75px;
	margin-right: -10000px;
	left: 265px;
}

#u121
{
	width: 131px;
	padding-bottom: 61px;
}

#u108.MuseMenuActive,#u121:hover
{
	margin: 0px;
}

#u121.MuseMenuActive
{
	margin: 0px;
}

#u122-4
{
	width: 131px;
	min-height: 14px;
	margin-right: -10000px;
	top: 30px;
}

#u108.MuseMenuActive #u110-4,#u121:hover #u122-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u121.MuseMenuActive #u122-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u72-bw
{
	z-index: 2;
	height: 65px;
}

#u206-4
{
	z-index: 24;
	width: 1303px;
	min-height: 19px;
	left: -40px;
	margin-top: 70px;
}

#ppamphletu2103
{
	width: 0.01px;
	margin-left: 200px;
	margin-top: 59px;
}

#pamphletu2103
{
	z-index: 53;
	width: 0.01px;
	height: 142px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
}

#u2106
{
	position: absolute;
	width: 139px;
	background-color: transparent;
	left: 15px;
}

#u2106popup
{
	z-index: 54;
}

#u2107
{
	z-index: 55;
	vertical-align: top;
	width: 139px;
	height: 140px;
	margin-right: -10000px;
	position: relative;
	background: url("../images/pk_hover-u2107.png") no-repeat 0px 0px;
}

#u2112
{
	z-index: 56;
	width: 177px;
	position: relative;
	margin-right: -10000px;
}

#u2113
{
	position: absolute;
	width: 177px;
	height: 142px;
	border-color: #DEDEDE;
	background-color: transparent;
}

.ie #u2113
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u2113.PamphletThumbSelected
{
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u2085
{
	z-index: 36;
	width: 504px;
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 3px 12px -1px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.3);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 160px;
}

#pu2096
{
	width: 0.01px;
	margin-left: 200px;
	margin-top: 11px;
}

#u2096
{
	z-index: 38;
	width: 771px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 27px;
}

#pu2054
{
	width: 0.01px;
	margin-right: -10000px;
}

#u2054
{
	z-index: 39;
	width: 251px;
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 3px 12px -1px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.3);
	background-color: transparent;
	position: relative;
}

#u2065
{
	z-index: 43;
	width: 251px;
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 3px 12px -1px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.3);
	background-color: transparent;
	margin-top: 9px;
	position: relative;
}

#pu2070
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 260px;
}

#u2070
{
	z-index: 45;
	width: 251px;
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 3px 12px -1px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.3);
	background-color: transparent;
	position: relative;
}

#u2080
{
	z-index: 49;
	width: 251px;
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 3px 12px -1px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.3);
	background-color: transparent;
	margin-top: 9px;
	position: relative;
}

#pu2075
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 520px;
}

#u2075
{
	z-index: 47;
	width: 251px;
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 3px 12px -1px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.3);
	background-color: transparent;
	position: relative;
}

#u2060
{
	z-index: 41;
	width: 251px;
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 3px 12px -1px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.3);
	background-color: transparent;
	margin-top: 9px;
	position: relative;
}

#u2097
{
	z-index: 51;
	width: 824px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 199px;
}

#u3956-4
{
	z-index: 107;
	width: 743px;
	min-height: 58px;
	background-color: transparent;
	font-size: 12px;
	line-height: 15px;
	color: #4C4C4C;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 661px;
	left: 24px;
}

#u2121
{
	z-index: 60;
	width: 570px;
	background-color: transparent;
	margin-left: 327px;
	margin-top: 54px;
	position: relative;
}

#pu2115
{
	width: 0.01px;
	margin-left: 119px;
}

#u2115
{
	z-index: 58;
	width: 570px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 208px;
}

#u2127
{
	z-index: 62;
	width: 957px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 220px;
}

#u2175
{
	z-index: 94;
	width: 901px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 161px;
	margin-top: 103px;
	position: relative;
}

#u2142
{
	z-index: 95;
	width: 572px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2142_clip
{
	overflow: hidden;
	width: 572px;
	height: 393px;
}

#u2142_img
{
	margin-right: -18px;
}

#u2146
{
	z-index: 97;
	width: 323px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 578px;
}

#pamphletu2152
{
	z-index: 64;
	width: 0.01px;
	height: 105px;
	margin-left: 472px;
	margin-top: 30px;
	position: relative;
}

#u2155
{
	position: absolute;
	width: 69px;
	background-color: transparent;
	top: 17px;
	left: 100px;
}

#u2155popup
{
	z-index: 65;
}

#u2156
{
	z-index: 66;
	vertical-align: top;
	width: 69px;
	height: 69px;
	margin-right: -10000px;
	position: relative;
	background: url("../images/top-u2156.png") no-repeat 0px 0px;
}

#u2157
{
	z-index: 67;
	width: 261px;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#u2158
{
	position: absolute;
	width: 263px;
	border-color: #DEDEDE;
	background-color: transparent;
	left: -2px;
}

#pamphletu2834
{
	z-index: 84;
	width: 0.01px;
	height: 101px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#u2848
{
	position: absolute;
	width: 69px;
	background-color: transparent;
	top: 17px;
	left: 14px;
}

#u2848popup
{
	z-index: 85;
}

#u2849
{
	z-index: 86;
	vertical-align: top;
	width: 69px;
	height: 69px;
	margin-right: -10000px;
	position: relative;
	background: url("../images/left-u2849.png") no-repeat 0px 0px;
}

#u2835
{
	z-index: 87;
	width: 93px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 2px;
}

#u2836
{
	position: absolute;
	width: 95px;
	border-color: #DEDEDE;
	background-color: transparent;
	padding-bottom: 4px;
	top: -6px;
	left: -2px;
}

#pamphletu2837
{
	z-index: 89;
	width: 0.01px;
	height: 96px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 2px;
}

#u2842
{
	position: absolute;
	width: 69px;
	background-color: transparent;
	top: 11px;
	left: 12px;
}

#u2842popup
{
	z-index: 90;
}

#u2843
{
	z-index: 91;
	vertical-align: top;
	width: 69px;
	height: 69px;
	margin-right: -10000px;
	position: relative;
	background: url("../images/left-u2843.png") no-repeat 0px 0px;
}

#u2844
{
	z-index: 92;
	width: 93px;
	position: relative;
	margin-right: -10000px;
}

#u2845
{
	position: absolute;
	width: 93px;
	height: 96px;
	border-color: #DEDEDE;
	background-color: transparent;
}

.ie #u2113.PamphletThumbSelected,.ie #u2845
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u2158.PamphletThumbSelected,#u2845.PamphletThumbSelected
{
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px;
}

#pamphletu2159
{
	z-index: 69;
	width: 0.01px;
	height: 96px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 87px;
}

#u2166
{
	position: absolute;
	width: 69px;
	background-color: transparent;
	top: 7px;
	left: 12px;
}

#u2166popup
{
	z-index: 70;
}

#u2167
{
	z-index: 71;
	vertical-align: top;
	width: 69px;
	height: 69px;
	margin-right: -10000px;
	position: relative;
	background: url("../images/top-u2167.png") no-repeat 0px 0px;
}

#u2168
{
	z-index: 72;
	width: 93px;
	position: relative;
	margin-right: -10000px;
}

#u2169
{
	position: absolute;
	width: 93px;
	height: 96px;
	border-color: #DEDEDE;
	background-color: transparent;
}

.ie #u2845.PamphletThumbSelected,.ie #u2169
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u2169.PamphletThumbSelected
{
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px;
}

#pamphletu2812
{
	z-index: 74;
	width: 0.01px;
	height: 96px;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	left: 168px;
}

#u2830
{
	position: absolute;
	width: 69px;
	background-color: transparent;
	top: 17px;
	left: 14px;
}

#u2830popup
{
	z-index: 75;
}

#u2831
{
	z-index: 76;
	vertical-align: top;
	width: 69px;
	height: 69px;
	margin-right: -10000px;
	position: relative;
	background: url("../images/right-u2831.png") no-repeat 0px 0px;
}

#u2817
{
	z-index: 77;
	width: 93px;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#u2818
{
	position: absolute;
	width: 95px;
	border-color: #DEDEDE;
	background-color: transparent;
	padding-bottom: 9px;
	left: -2px;
}

#pamphletu2819
{
	z-index: 79;
	width: 0.01px;
	height: 96px;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#u2824
{
	position: absolute;
	width: 69px;
	background-color: transparent;
	top: 16px;
	left: 12px;
}

#u2848.PamphletThumbSelected,#u2842.PamphletThumbSelected,#u2166.PamphletThumbSelected,#u2830.PamphletThumbSelected,#u2824.PamphletThumbSelected
{
	background-color: transparent;
	margin: 0px;
}

#u2824popup
{
	z-index: 80;
}

#u2825
{
	z-index: 81;
	vertical-align: top;
	width: 69px;
	height: 69px;
	margin-right: -10000px;
	position: relative;
	background: url("../images/right-u2825.png") no-repeat 0px 0px;
}

#u2820
{
	z-index: 82;
	width: 93px;
	position: relative;
	margin-right: -10000px;
}

#u2821
{
	position: absolute;
	width: 93px;
	height: 96px;
	border-color: #DEDEDE;
	background-color: transparent;
}

.ie #u2169.PamphletThumbSelected,.ie #u2821
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u2821.PamphletThumbSelected
{
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px;
}

.ie #u2821.PamphletThumbSelected
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#buttonu3809
{
	z-index: 100;
	width: 170px;
	border-color: #787878;
	background-color: #FFFFFF;
	opacity: 0.24;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=24)";
	filter: alpha(opacity=24);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 9px;
	margin-left: 527px;
	margin-top: 11px;
	position: relative;
}

#buttonu3809:hover
{
	border-color: #7F7F7F;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin: 11px 0px 0px 527px;
}

#u3810-6
{
	z-index: 101;
	width: 156px;
	min-height: 14px;
	background-color: transparent;
	color: #3C3C3C;
	font-size: 14px;
	letter-spacing: 1px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 4px;
}

#buttonu3809:hover #u3810-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 9px -10000px 0px 0px;
}

#buttonu3809.ButtonSelected #u3810-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 9px -10000px 0px 0px;
}

#buttonu3809:hover #u3810-6 p,#buttonu3809:hover #u3810-6 span
{
	color: #FF755B;
	visibility: inherit;
}

#buttonu3809.ButtonSelected #u3810-6 p,#buttonu3809.ButtonSelected #u3810-6 span
{
	color: #7F7F7F;
	visibility: inherit;
}

#u3810-4
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u3810
{
	font-size: 12px;
	letter-spacing: -6px;
	color: #7F7F7F;
	line-height: 14px;
}

#u3810-2
{
	font-size: 11px;
	color: #7F7F7F;
	line-height: 13px;
}

#u3810-3
{
	font-size: 12px;
	color: #7F7F7F;
	line-height: 14px;
}

#u1361-4
{
	z-index: 28;
	width: 1303px;
	min-height: 19px;
	left: -40px;
	margin-top: 22px;
}

#u1362-4
{
	z-index: 32;
	width: 339px;
	min-height: 22px;
	left: -27px;
	margin-top: 15px;
}

body
{
	position: relative;
	min-width: 1224px;
	padding-top: 36px;
	padding-bottom: 35px;
}

#page .verticalspacer
{
	clear: both;
}

