.version.poster /* version checker */
{
	color: #0000E9;
	background-color: #6D6F0F;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1224px;
	min-height: 2691px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -38px;
}

#u72
{
	z-index: 2;
}

#u72_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1224px;
	left: -100px;
}

#u73
{
	z-index: 3;
	margin-bottom: -61px;
	margin-right: -10000px;
	margin-top: -5px;
	left: 184px;
}

#poster_top
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 691px;
}

#menuu97
{
	z-index: 5;
	width: 396px;
	margin-bottom: -10px;
	margin-right: -10000px;
	left: 822px;
}

#u98
{
	width: 130px;
	min-height: 75px;
	margin-right: -10000px;
}

#u99
{
	width: 130px;
	padding-bottom: 61px;
}

#u99:hover
{
	margin: 0px;
}

#u100-4
{
	width: 130px;
	min-height: 14px;
	margin-right: -10000px;
	top: 30px;
}

#u99:hover #u100-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u105
{
	width: 131px;
	min-height: 75px;
	margin-right: -10000px;
	left: 132px;
}

#u108
{
	width: 131px;
	padding-bottom: 61px;
}

#u99.MuseMenuActive,#u108:hover
{
	margin: 0px;
}

#u110-4
{
	width: 131px;
	min-height: 14px;
	margin-right: -10000px;
	top: 30px;
}

#u99.MuseMenuActive #u100-4,#u108:hover #u110-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u120
{
	width: 131px;
	min-height: 75px;
	margin-right: -10000px;
	left: 265px;
}

#u121
{
	width: 131px;
	padding-bottom: 61px;
}

#u108.MuseMenuActive,#u121:hover
{
	margin: 0px;
}

#u121.MuseMenuActive
{
	margin: 0px;
}

#u122-4
{
	width: 131px;
	min-height: 14px;
	margin-right: -10000px;
	top: 30px;
}

#u108.MuseMenuActive #u110-4,#u121:hover #u122-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u121.MuseMenuActive #u122-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u72-bw
{
	z-index: 2;
	height: 65px;
}

#u206-4
{
	z-index: 24;
	width: 1303px;
	min-height: 19px;
	left: -40px;
	margin-top: 70px;
}

#pamphletu2292
{
	z-index: 48;
	width: 0.01px;
	height: 268px;
	margin-left: 115px;
	margin-top: 17px;
	position: relative;
}

#u2297
{
	position: absolute;
	width: 139px;
	background-color: transparent;
	top: 26px;
	left: 20px;
}

#u2297popup
{
	z-index: 49;
}

#u2298
{
	z-index: 50;
	vertical-align: top;
	width: 139px;
	height: 140px;
	margin-right: -10000px;
	position: relative;
	background: url("../images/poster-u2298.png") no-repeat 0px 0px;
}

#u2293
{
	z-index: 51;
	width: 177px;
	position: relative;
	margin-right: -10000px;
}

#u2294
{
	position: absolute;
	width: 177px;
	height: 268px;
	border-color: #DEDEDE;
	background-color: transparent;
}

.ie #u2294
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u2294.PamphletThumbSelected
{
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pu2267
{
	width: 0.01px;
	margin-left: 279px;
	margin-top: -245px;
}

#u2267
{
	z-index: 40;
	width: 287px;
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 3px 8px -1px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2282
{
	z-index: 46;
	width: 418px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 54px;
	left: 347px;
}

#pu2270
{
	width: 0.01px;
	margin-left: 278px;
	margin-top: 21px;
}

#u2270
{
	z-index: 42;
	width: 287px;
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 3px 8px -1px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2270_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#pu2276
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 5px;
	margin-left: 347px;
}

#u2276
{
	z-index: 44;
	width: 436px;
	background-color: transparent;
	position: relative;
}

#u3953-4
{
	z-index: 105;
	width: 488px;
	min-height: 82px;
	background-color: transparent;
	font-size: 12px;
	line-height: 15px;
	color: #4C4C4C;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 16px;
	margin-top: 30px;
	position: relative;
}

#u2324
{
	z-index: 61;
	width: 320px;
	background-color: transparent;
	margin-left: 452px;
	margin-top: 81px;
	position: relative;
}

#pu2309
{
	width: 0.01px;
	margin-left: 282px;
	margin-top: 72px;
}

#u2309
{
	z-index: 38;
	width: 289px;
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 3px 8px -1px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2303
{
	z-index: 36;
	width: 290px;
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 3px 8px -1px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 360px;
}

#pu2322-4
{
	width: 0.01px;
	margin-left: 311px;
	margin-top: 18px;
}

#u2322-4
{
	z-index: 53;
	width: 291px;
	min-height: 21px;
	background-color: transparent;
	font-size: 12px;
	line-height: 15px;
	color: #4C4C4C;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u2323-4
{
	z-index: 57;
	width: 251px;
	min-height: 21px;
	background-color: transparent;
	font-size: 12px;
	line-height: 15px;
	color: #4C4C4C;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 351px;
}

#u5180
{
	z-index: 109;
	width: 528px;
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 3px 8px -1px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
	background-color: transparent;
	margin-left: 350px;
	margin-top: 82px;
	position: relative;
}

#u5180_img
{
	padding-bottom: 1px;
}

#u2653-4
{
	z-index: 64;
	width: 384px;
	min-height: 21px;
	background-color: transparent;
	font-size: 12px;
	line-height: 15px;
	color: #4C4C4C;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 464px;
	margin-top: 42px;
	position: relative;
}

#pamphletu3815
{
	z-index: 68;
	width: 0.01px;
	height: 105px;
	margin-left: 478px;
	margin-top: 32px;
	position: relative;
}

#u3816
{
	position: absolute;
	width: 69px;
	background-color: transparent;
	top: 17px;
	left: 100px;
}

#u3816popup
{
	z-index: 69;
}

#u3817
{
	z-index: 70;
	vertical-align: top;
	width: 69px;
	height: 69px;
	margin-right: -10000px;
	position: relative;
	background: url("../images/top-u3817.png") no-repeat 0px 0px;
}

#u3824
{
	z-index: 71;
	width: 261px;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#u3825
{
	position: absolute;
	width: 263px;
	border-color: #DEDEDE;
	background-color: transparent;
	left: -2px;
}

#pamphletu3859
{
	z-index: 88;
	width: 0.01px;
	height: 101px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#u3879
{
	position: absolute;
	width: 69px;
	background-color: transparent;
	top: 17px;
	left: 14px;
}

#u3879popup
{
	z-index: 89;
}

#u3880
{
	z-index: 90;
	vertical-align: top;
	width: 69px;
	height: 69px;
	margin-right: -10000px;
	position: relative;
	background: url("../images/left-u3880.png") no-repeat 0px 0px;
}

#u3866
{
	z-index: 91;
	width: 93px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 2px;
}

#u3867
{
	position: absolute;
	width: 95px;
	border-color: #DEDEDE;
	background-color: transparent;
	padding-bottom: 4px;
	top: -6px;
	left: -2px;
}

#pamphletu3868
{
	z-index: 93;
	width: 0.01px;
	height: 96px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 2px;
}

#u3869
{
	position: absolute;
	width: 69px;
	background-color: transparent;
	top: 11px;
	left: 12px;
}

#u3869popup
{
	z-index: 94;
}

#u3870
{
	z-index: 95;
	vertical-align: top;
	width: 69px;
	height: 69px;
	margin-right: -10000px;
	position: relative;
	background: url("../images/left-u3870.png") no-repeat 0px 0px;
}

#u3871
{
	z-index: 96;
	width: 93px;
	position: relative;
	margin-right: -10000px;
}

#u3872
{
	position: absolute;
	width: 93px;
	height: 96px;
	border-color: #DEDEDE;
	background-color: transparent;
}

.ie #u2294.PamphletThumbSelected,.ie #u3872
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u3825.PamphletThumbSelected,#u3872.PamphletThumbSelected
{
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px;
}

#pamphletu3826
{
	z-index: 73;
	width: 0.01px;
	height: 96px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 87px;
}

#u3831
{
	position: absolute;
	width: 69px;
	background-color: transparent;
	top: 7px;
	left: 12px;
}

#u3831popup
{
	z-index: 74;
}

#u3832
{
	z-index: 75;
	vertical-align: top;
	width: 69px;
	height: 69px;
	margin-right: -10000px;
	position: relative;
	background: url("../images/top-u3832.png") no-repeat 0px 0px;
}

#u3827
{
	z-index: 76;
	width: 93px;
	position: relative;
	margin-right: -10000px;
}

#u3828
{
	position: absolute;
	width: 93px;
	height: 96px;
	border-color: #DEDEDE;
	background-color: transparent;
}

.ie #u3872.PamphletThumbSelected,.ie #u3828
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u3828.PamphletThumbSelected
{
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px;
}

#pamphletu3837
{
	z-index: 78;
	width: 0.01px;
	height: 96px;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	left: 168px;
}

#u3855
{
	position: absolute;
	width: 69px;
	background-color: transparent;
	top: 17px;
	left: 14px;
}

#u3855popup
{
	z-index: 79;
}

#u3856
{
	z-index: 80;
	vertical-align: top;
	width: 69px;
	height: 69px;
	margin-right: -10000px;
	position: relative;
	background: url("../images/right-u3856.png") no-repeat 0px 0px;
}

#u3840
{
	z-index: 81;
	width: 93px;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#u3841
{
	position: absolute;
	width: 95px;
	border-color: #DEDEDE;
	background-color: transparent;
	padding-bottom: 9px;
	left: -2px;
}

#pamphletu3842
{
	z-index: 83;
	width: 0.01px;
	height: 96px;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#u3845
{
	position: absolute;
	width: 69px;
	background-color: transparent;
	top: 16px;
	left: 12px;
}

#u3879.PamphletThumbSelected,#u3869.PamphletThumbSelected,#u3831.PamphletThumbSelected,#u3855.PamphletThumbSelected,#u3845.PamphletThumbSelected
{
	background-color: transparent;
	margin: 0px;
}

#u3845popup
{
	z-index: 84;
}

#u3846
{
	z-index: 85;
	vertical-align: top;
	width: 69px;
	height: 69px;
	margin-right: -10000px;
	position: relative;
	background: url("../images/right-u3846.png") no-repeat 0px 0px;
}

#u3851
{
	z-index: 86;
	width: 93px;
	position: relative;
	margin-right: -10000px;
}

#u3852
{
	position: absolute;
	width: 93px;
	height: 96px;
	border-color: #DEDEDE;
	background-color: transparent;
}

.ie #u3828.PamphletThumbSelected,.ie #u3852
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u3852.PamphletThumbSelected
{
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px;
}

.ie #u3852.PamphletThumbSelected
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#buttonu3881
{
	z-index: 98;
	width: 170px;
	border-color: #787878;
	background-color: #FFFFFF;
	opacity: 0.24;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=24)";
	filter: alpha(opacity=24);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 9px;
	margin-left: 535px;
	margin-top: 10px;
	position: relative;
}

#buttonu3881:hover
{
	border-color: #7F7F7F;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin: 10px 0px 0px 535px;
}

#u3882-6
{
	z-index: 99;
	width: 156px;
	min-height: 14px;
	background-color: transparent;
	color: #3C3C3C;
	font-size: 14px;
	letter-spacing: 1px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 4px;
}

#buttonu3881:hover #u3882-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 9px -10000px 0px 0px;
}

#buttonu3881.ButtonSelected #u3882-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 9px -10000px 0px 0px;
}

#buttonu3881:hover #u3882-6 p,#buttonu3881:hover #u3882-6 span
{
	color: #FF755B;
	visibility: inherit;
}

#buttonu3881.ButtonSelected #u3882-6 p,#buttonu3881.ButtonSelected #u3882-6 span
{
	color: #7F7F7F;
	visibility: inherit;
}

#u3882-4
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u3882
{
	font-size: 12px;
	letter-spacing: -6px;
	color: #7F7F7F;
	line-height: 14px;
}

#u3882-2
{
	font-size: 11px;
	color: #7F7F7F;
	line-height: 13px;
}

#u3882-3
{
	font-size: 12px;
	color: #7F7F7F;
	line-height: 14px;
}

#u1361-4
{
	z-index: 28;
	width: 1303px;
	min-height: 19px;
	left: -40px;
	margin-top: 40px;
}

#u1362-4
{
	z-index: 32;
	width: 339px;
	min-height: 22px;
	left: -27px;
	margin-top: 15px;
}

body
{
	position: relative;
	min-width: 1224px;
	padding-top: 36px;
	padding-bottom: 35px;
}

#page .verticalspacer
{
	clear: both;
}

