.version.uoft /* version checker */
{
	color: #0000EC;
	background-color: #DBDD45;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1224px;
	min-height: 933px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -38px;
}

#u72
{
	z-index: 2;
}

#u72_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1224px;
	left: -100px;
}

#u73
{
	z-index: 3;
	margin-bottom: -61px;
	margin-right: -10000px;
	margin-top: -5px;
	left: 184px;
}

#menuu97
{
	z-index: 5;
	width: 396px;
	margin-bottom: -10px;
	margin-right: -10000px;
	left: 822px;
}

#u98
{
	width: 130px;
	min-height: 75px;
	margin-right: -10000px;
}

#u99
{
	width: 130px;
	padding-bottom: 61px;
}

#u99:hover
{
	margin: 0px;
}

#u100-4
{
	width: 130px;
	min-height: 14px;
	margin-right: -10000px;
	top: 30px;
}

#u99:hover #u100-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u105
{
	width: 131px;
	min-height: 75px;
	margin-right: -10000px;
	left: 132px;
}

#u108
{
	width: 131px;
	padding-bottom: 61px;
}

#u99.MuseMenuActive,#u108:hover
{
	margin: 0px;
}

#u110-4
{
	width: 131px;
	min-height: 14px;
	margin-right: -10000px;
	top: 30px;
}

#u99.MuseMenuActive #u100-4,#u108:hover #u110-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u120
{
	width: 131px;
	min-height: 75px;
	margin-right: -10000px;
	left: 265px;
}

#u121
{
	width: 131px;
	padding-bottom: 61px;
}

#u108.MuseMenuActive,#u121:hover
{
	margin: 0px;
}

#u121.MuseMenuActive
{
	margin: 0px;
}

#u122-4
{
	width: 131px;
	min-height: 14px;
	margin-right: -10000px;
	top: 30px;
}

#u108.MuseMenuActive #u110-4,#u121:hover #u122-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u121.MuseMenuActive #u122-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u72-bw
{
	z-index: 2;
	height: 65px;
}

#u206-4
{
	z-index: 24;
	width: 1303px;
	min-height: 19px;
	left: -40px;
	margin-top: 70px;
}

#pamphletu1721
{
	z-index: 48;
	width: 0.01px;
	height: 97px;
	margin-left: 4px;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#u1728
{
	position: absolute;
	width: 132px;
	background-color: transparent;
	top: 16px;
	left: 28px;
}

#u1728popup
{
	z-index: 49;
}

#u1729
{
	z-index: 50;
	vertical-align: top;
	width: 132px;
	height: 80px;
	margin-right: -10000px;
	position: relative;
	background: url("../images/banner_hover-u1729.png") no-repeat 0px 0px;
}

#u1726
{
	z-index: 51;
	width: 177px;
	position: relative;
	margin-right: -10000px;
}

#u1727
{
	position: absolute;
	width: 177px;
	height: 97px;
	border-color: #DEDEDE;
	background-color: transparent;
}

.ie #u1727
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1727.PamphletThumbSelected
{
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pu1457
{
	width: 0.01px;
	margin-left: 4px;
}

#u1457
{
	z-index: 36;
	width: 603px;
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 3px 8px -1px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1460
{
	z-index: 38;
	width: 603px;
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 3px 8px -1px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 617px;
}

#pu1466-8
{
	width: 0.01px;
	margin-left: 4px;
	margin-top: 21px;
}

#u1466-8
{
	z-index: 40;
	width: 588px;
	min-height: 111px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1466-2,#u1466-3,#u1466-5
{
	font-size: 12px;
	line-height: 15px;
	color: #4C4C4C;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: normal;
}

#u4725-7
{
	z-index: 70;
	width: 601px;
	background-color: transparent;
	font-size: 12px;
	line-height: 15px;
	color: #4C4C4C;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 619px;
}

#pamphletu3724
{
	z-index: 53;
	width: 0.01px;
	height: 96px;
	padding-bottom: 9px;
	margin-left: 565px;
	margin-top: 27px;
	position: relative;
}

#u3738
{
	position: absolute;
	width: 69px;
	background-color: transparent;
	top: 17px;
	left: 14px;
}

#u3738popup
{
	z-index: 54;
}

#u3739
{
	z-index: 55;
	vertical-align: top;
	width: 69px;
	height: 69px;
	margin-right: -10000px;
	position: relative;
	background: url("../images/right-u3739.png") no-repeat 0px 0px;
}

#u3725
{
	z-index: 56;
	width: 93px;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#u3726
{
	position: absolute;
	width: 95px;
	border-color: #DEDEDE;
	background-color: transparent;
	padding-bottom: 9px;
	left: -2px;
}

#pamphletu3727
{
	z-index: 58;
	width: 0.01px;
	height: 96px;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#u3730
{
	position: absolute;
	width: 69px;
	background-color: transparent;
	top: 16px;
	left: 12px;
}

#u3730.PamphletThumbSelected
{
	background-color: transparent;
	margin: 0px;
}

#u3730popup
{
	z-index: 59;
}

#u3731
{
	z-index: 60;
	vertical-align: top;
	width: 69px;
	height: 69px;
	margin-right: -10000px;
	position: relative;
	background: url("../images/right-u3731.png") no-repeat 0px 0px;
}

#u3736
{
	z-index: 61;
	width: 93px;
	position: relative;
	margin-right: -10000px;
}

#u3737
{
	position: absolute;
	width: 93px;
	height: 96px;
	border-color: #DEDEDE;
	background-color: transparent;
}

.ie #u1727.PamphletThumbSelected,.ie #u3737
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u3737.PamphletThumbSelected
{
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px;
}

.ie #u3737.PamphletThumbSelected
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#buttonu3807
{
	z-index: 63;
	width: 170px;
	border-color: #787878;
	background-color: #FFFFFF;
	opacity: 0.24;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=24)";
	filter: alpha(opacity=24);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 9px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#buttonu3807:hover
{
	border-color: #7F7F7F;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin: 0px 0px -1px;
}

#u3808-6
{
	z-index: 64;
	width: 156px;
	min-height: 14px;
	background-color: transparent;
	color: #3C3C3C;
	font-size: 14px;
	letter-spacing: 1px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 4px;
}

#buttonu3807:hover #u3808-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 9px -10000px 0px 0px;
}

#buttonu3807.ButtonSelected #u3808-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 9px -10000px 0px 0px;
}

#buttonu3807:hover #u3808-6 p,#buttonu3807:hover #u3808-6 span
{
	color: #FF755B;
	visibility: inherit;
}

#buttonu3807.ButtonSelected #u3808-6 p,#buttonu3807.ButtonSelected #u3808-6 span
{
	color: #7F7F7F;
	visibility: inherit;
}

#u3808-4
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u3808
{
	font-size: 12px;
	letter-spacing: -6px;
	color: #7F7F7F;
	line-height: 14px;
}

#u3808-2
{
	font-size: 11px;
	color: #7F7F7F;
	line-height: 13px;
}

#u3808-3
{
	font-size: 12px;
	color: #7F7F7F;
	line-height: 14px;
}

#u1361-4
{
	z-index: 28;
	width: 1303px;
	min-height: 19px;
	left: -40px;
	margin-top: 35px;
}

#u1362-4
{
	z-index: 32;
	width: 339px;
	min-height: 22px;
	left: -27px;
	margin-top: 15px;
}

body
{
	position: relative;
	min-width: 1224px;
	padding-top: 36px;
	padding-bottom: 35px;
}

#page .verticalspacer
{
	clear: both;
}

