.version.vimo /* version checker */
{
	color: #00001C;
	background-color: #F0E840;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1224px;
	min-height: 2154px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -38px;
}

#u72
{
	z-index: 2;
}

#u72_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1224px;
	left: -100px;
}

#u73
{
	z-index: 3;
	margin-bottom: -61px;
	margin-right: -10000px;
	margin-top: -5px;
	left: 184px;
}

#vimo_top
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 682px;
}

#menuu97
{
	z-index: 5;
	width: 396px;
	margin-bottom: -10px;
	margin-right: -10000px;
	left: 822px;
}

#u98
{
	width: 130px;
	min-height: 75px;
	margin-right: -10000px;
}

#u99
{
	width: 130px;
	padding-bottom: 61px;
}

#u99:hover
{
	margin: 0px;
}

#u100-4
{
	width: 130px;
	min-height: 14px;
	margin-right: -10000px;
	top: 30px;
}

#u99:hover #u100-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u105
{
	width: 131px;
	min-height: 75px;
	margin-right: -10000px;
	left: 132px;
}

#u108
{
	width: 131px;
	padding-bottom: 61px;
}

#u99.MuseMenuActive,#u108:hover
{
	margin: 0px;
}

#u110-4
{
	width: 131px;
	min-height: 14px;
	margin-right: -10000px;
	top: 30px;
}

#u99.MuseMenuActive #u100-4,#u108:hover #u110-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u120
{
	width: 131px;
	min-height: 75px;
	margin-right: -10000px;
	left: 265px;
}

#u121
{
	width: 131px;
	padding-bottom: 61px;
}

#u108.MuseMenuActive,#u121:hover
{
	margin: 0px;
}

#u121.MuseMenuActive
{
	margin: 0px;
}

#u122-4
{
	width: 131px;
	min-height: 14px;
	margin-right: -10000px;
	top: 30px;
}

#u108.MuseMenuActive #u110-4,#u121:hover #u122-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u121.MuseMenuActive #u122-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u72-bw
{
	z-index: 2;
	height: 65px;
}

#u206-4
{
	z-index: 24;
	width: 1303px;
	min-height: 19px;
	left: -40px;
	margin-top: 70px;
}

#pamphletu1644
{
	z-index: 54;
	width: 0.01px;
	height: 178px;
	margin-left: 18px;
	margin-top: 86px;
	position: relative;
}

#u1647
{
	position: absolute;
	width: 132px;
	background-color: transparent;
	top: 10px;
	left: 12px;
}

#u1647popup
{
	z-index: 55;
}

#u1648
{
	z-index: 56;
	vertical-align: top;
	width: 132px;
	height: 133px;
	margin-right: -10000px;
	position: relative;
	background: url("../images/uiux-u1648.png") no-repeat 0px 0px;
}

#u1649
{
	z-index: 57;
	width: 149px;
	position: relative;
	margin-right: -10000px;
}

#u1650
{
	position: absolute;
	width: 149px;
	height: 178px;
	border-color: #DEDEDE;
	background-color: transparent;
}

.ie #u1650
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1650.PamphletThumbSelected
{
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u1554
{
	z-index: 36;
	width: 889px;
	min-height: 505px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 168px;
	top: -168px;
	margin-bottom: -168px;
	position: relative;
}

#u1560-4
{
	z-index: 37;
	width: 889px;
	min-height: 57px;
	background-color: transparent;
	font-size: 12px;
	line-height: 15px;
	color: #4C4C4C;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 168px;
	margin-top: 24px;
	position: relative;
}

#u2048
{
	z-index: 41;
	width: 1093px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 65px;
	margin-top: 17px;
	position: relative;
}

#u1561
{
	z-index: 42;
	width: 352px;
	background-color: transparent;
	-webkit-transform: matrix(0,-1,1,0,-43,395);
	-ms-transform: matrix(0,-1,1,0,-43,395);
	-o-transform: matrix(0,-1,1,0,-43,395);
	transform: matrix(0,-1,1,0,-43,395);
	margin-bottom: -23px;
	position: relative;
	margin-right: -10000px;
	margin-top: -43px;
	left: 143px;
}

#u1567
{
	z-index: 44;
	width: 357px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 140px;
}

#u1597
{
	z-index: 46;
	width: 647px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 317px;
}

#u1603
{
	z-index: 48;
	width: 352px;
	background-color: transparent;
	-webkit-transform: matrix(0,-1,1,0,-43,395);
	-ms-transform: matrix(0,-1,1,0,-43,395);
	-o-transform: matrix(0,-1,1,0,-43,395);
	transform: matrix(0,-1,1,0,-43,395);
	margin-bottom: -23px;
	position: relative;
	margin-right: -10000px;
	margin-top: -43px;
	left: 609px;
}

#u1605
{
	z-index: 50;
	width: 617px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 320px;
	left: 476px;
}

#u1609
{
	z-index: 52;
	width: 366px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 597px;
}

#u2049
{
	z-index: 59;
	width: 895px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 168px;
	margin-top: 30px;
	position: relative;
}

#u1619
{
	z-index: 64;
	width: 885px;
	min-height: 501px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 2px;
	position: relative;
}

#u1615-4
{
	z-index: 60;
	width: 895px;
	min-height: 57px;
	background-color: transparent;
	font-size: 12px;
	line-height: 15px;
	color: #4C4C4C;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-top: 15px;
	position: relative;
}

#u2765
{
	z-index: 66;
	width: 261px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 482px;
	margin-top: 119px;
	position: relative;
}

#pamphletu2733
{
	z-index: 87;
	width: 0.01px;
	height: 101px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u2734popup
{
	z-index: 88;
}

#u2735
{
	z-index: 89;
	vertical-align: top;
	width: 69px;
	height: 69px;
	margin-right: -10000px;
	position: relative;
	background: url("../images/left-u2735.png") no-repeat 0px 0px;
}

#u2736
{
	z-index: 90;
	width: 93px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 2px;
}

#u2737
{
	position: absolute;
	width: 95px;
	border-color: #DEDEDE;
	background-color: transparent;
	padding-bottom: 4px;
	top: -6px;
	left: -2px;
}

#pamphletu2738
{
	z-index: 92;
	width: 0.01px;
	height: 96px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 2px;
}

#u2743
{
	position: absolute;
	width: 69px;
	background-color: transparent;
	top: 11px;
	left: 12px;
}

#u2743popup
{
	z-index: 93;
}

#u2744
{
	z-index: 94;
	vertical-align: top;
	width: 69px;
	height: 69px;
	margin-right: -10000px;
	position: relative;
	background: url("../images/left-u2744.png") no-repeat 0px 0px;
}

#u2745
{
	z-index: 95;
	width: 93px;
	position: relative;
	margin-right: -10000px;
}

#u2746
{
	position: absolute;
	width: 93px;
	height: 96px;
	border-color: #DEDEDE;
	background-color: transparent;
}

.ie #u1650.PamphletThumbSelected,.ie #u2746
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u2746.PamphletThumbSelected
{
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px;
}

#pamphletu1694
{
	z-index: 67;
	width: 0.01px;
	height: 96px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 82px;
}

#u1701
{
	position: absolute;
	width: 69px;
	background-color: transparent;
	top: 8px;
	left: 15px;
}

#u1701popup
{
	z-index: 68;
}

#u1702
{
	z-index: 69;
	vertical-align: top;
	width: 69px;
	height: 69px;
	margin-right: -10000px;
	position: relative;
	background: url("../images/top-u1702.png") no-repeat 0px 0px;
}

#u1695
{
	z-index: 70;
	width: 93px;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#u1696
{
	position: absolute;
	width: 95px;
	border-color: #DEDEDE;
	background-color: transparent;
	left: -2px;
}

#pamphletu1662
{
	z-index: 72;
	width: 0.01px;
	height: 96px;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#u1671
{
	position: absolute;
	width: 69px;
	background-color: transparent;
	top: 7px;
	left: 12px;
}

#u1671popup
{
	z-index: 73;
}

#u1672
{
	z-index: 74;
	vertical-align: top;
	width: 69px;
	height: 69px;
	margin-right: -10000px;
	position: relative;
	background: url("../images/top-u1672.png") no-repeat 0px 0px;
}

#u1667
{
	z-index: 75;
	width: 93px;
	position: relative;
	margin-right: -10000px;
}

#u1668
{
	position: absolute;
	width: 93px;
	height: 96px;
	border-color: #DEDEDE;
	background-color: transparent;
}

.ie #u2746.PamphletThumbSelected,.ie #u1668
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1696.PamphletThumbSelected,#u1668.PamphletThumbSelected
{
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px;
}

#pamphletu2711
{
	z-index: 77;
	width: 0.01px;
	height: 96px;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	left: 166px;
}

#u2734,#u2729
{
	position: absolute;
	width: 69px;
	background-color: transparent;
	top: 17px;
	left: 14px;
}

#u2729popup
{
	z-index: 78;
}

#u2730
{
	z-index: 79;
	vertical-align: top;
	width: 69px;
	height: 69px;
	margin-right: -10000px;
	position: relative;
	background: url("../images/right-u2730.png") no-repeat 0px 0px;
}

#u2712
{
	z-index: 80;
	width: 93px;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#u2713
{
	position: absolute;
	width: 95px;
	border-color: #DEDEDE;
	background-color: transparent;
	padding-bottom: 9px;
	left: -2px;
}

#pamphletu2714
{
	z-index: 82;
	width: 0.01px;
	height: 96px;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#u2719
{
	position: absolute;
	width: 69px;
	background-color: transparent;
	top: 16px;
	left: 12px;
}

#u2743.PamphletThumbSelected,#u1671.PamphletThumbSelected,#u2719.PamphletThumbSelected
{
	background-color: transparent;
	margin: 0px;
}

#u2719popup
{
	z-index: 83;
}

#u2720
{
	z-index: 84;
	vertical-align: top;
	width: 69px;
	height: 69px;
	margin-right: -10000px;
	position: relative;
	background: url("../images/right-u2720.png") no-repeat 0px 0px;
}

#u2715
{
	z-index: 85;
	width: 93px;
	position: relative;
	margin-right: -10000px;
}

#u2716
{
	position: absolute;
	width: 93px;
	height: 96px;
	border-color: #DEDEDE;
	background-color: transparent;
}

.ie #u1668.PamphletThumbSelected,.ie #u2716
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u2716.PamphletThumbSelected
{
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px;
}

.ie #u2716.PamphletThumbSelected
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#buttonu3782
{
	z-index: 97;
	width: 170px;
	border-color: #787878;
	background-color: #FFFFFF;
	opacity: 0.24;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=24)";
	filter: alpha(opacity=24);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 9px;
	margin-left: 531px;
	margin-top: 10px;
	position: relative;
}

#buttonu3782:hover
{
	border-color: #7F7F7F;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin: 10px 0px 0px 531px;
}

#u3784-6
{
	z-index: 98;
	width: 156px;
	min-height: 14px;
	background-color: transparent;
	color: #3C3C3C;
	font-size: 14px;
	letter-spacing: 1px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 4px;
}

#buttonu3782:hover #u3784-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 9px -10000px 0px 0px;
}

#buttonu3782.ButtonSelected #u3784-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 9px -10000px 0px 0px;
}

#buttonu3782:hover #u3784-6 p,#buttonu3782:hover #u3784-6 span
{
	color: #FF755B;
	visibility: inherit;
}

#buttonu3782.ButtonSelected #u3784-6 p,#buttonu3782.ButtonSelected #u3784-6 span
{
	color: #7F7F7F;
	visibility: inherit;
}

#u3784-4
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u3784
{
	font-size: 12px;
	letter-spacing: -6px;
	color: #7F7F7F;
	line-height: 14px;
}

#u3784-2
{
	font-size: 11px;
	color: #7F7F7F;
	line-height: 13px;
}

#u3784-3
{
	font-size: 12px;
	color: #7F7F7F;
	line-height: 14px;
}

#u1361-4
{
	z-index: 28;
	width: 1303px;
	min-height: 19px;
	left: -40px;
	margin-top: 72px;
}

#u1362-4
{
	z-index: 32;
	width: 339px;
	min-height: 22px;
	left: -27px;
	margin-top: 15px;
}

body
{
	position: relative;
	min-width: 1224px;
	padding-top: 36px;
	padding-bottom: 35px;
}

#page .verticalspacer
{
	clear: both;
}

