@import url('https://fonts.googleapis.com/css?family=Lato');

$orange: #FE777A;
$gray: #929292;
$black: #585858;
$main-font: 'Avenir Next', 'Lato', sans-serif;

#navbar{
  background: #FDFDFD;
  height: 20px;
  padding: 15px 0px 15px 0px;
  width: 100%;
  #nav-link-wrap{
    text-align: center;
   a{
     padding: 2px 20px 13px 20px;
     text-decoration: none;
     font-family: $main-font;
     display: inline-block;
     font-size: 18px;
     font-weight: 200;
     transition: all .25s ease-in-out;


     &:link{
            color: $gray;
          }

          &:visited{
            color: $gray;
          }

          &:hover {
            color: $orange;
            border-bottom: 1px solid $orange;
            transition: all .25s ease-in-out;
            -webkit-transform: translateY(-3px);
             -moz-transform: translateY(-3px);
              -ms-transform: translateY(-3px);
               -o-transform: translateY(-3px);
                  transform: translateY(-3px);
          }

          &:active{
            color: $orange;
            border-bottom: 3px solid $orange;
          }
   }
 }
}

html{
    position: relative;
    min-height: 100%;
}

body{
  background: #FDFDFD;
  margin: 0 0 100px; /* bottom = footer height */


.introduction, .about-me{
  display: none;
  text-align: center;
  margin-top: 40px;
  margin-bottom: -50px;

  #avatar{
    text-align: center;
    height: 150px;
    width: auto;
    margin-bottom: 20px;
  }

  #avatar2{
    text-align: center;
    height: 300px;
    width: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    margin-top: -40px;
  }

    h1{
      width: 420px;
      color: $black;
      font-family: $main-font;
      font-size: 18px;
      font-weight: 200;
      display: table;
      margin: 0 auto;
    }

    h2{
      width: 420px;
      color: $black;
      font-family: $main-font;
      font-size: 18px;
      font-weight: 400;
      display: table;
      margin: 0 auto;
      text-align: left;
    }

    a{
      text-align: left;
      display: inline;
      font-size: 16px;
      color: $gray;
      font-weight: 300;
      margin-right: 25px;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -ms-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      text-decoration: none;
      &:hover{
        color: $orange;
        cursor: pointer;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
      }
    }

}

  .project-intro{
    display: none;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 120px;
    #sub-intro{

      h3{
        color: $gray;
        font-family: $main-font;
        font-weight: 300;
        font-size: 18px;

      }
    }

    .current-past-projects{
      display: table;
      margin: 0 auto;
      #current-wrap{
        margin: 0 auto;
        display: table;
        a{
          text-decoration: none;
        }

        #current-projects{
          text-align: center;
          font-size: 16px;
          font-weight: 400;
          color: #fff;
          margin-top: 1px;
          font-family: $main-font;
          cursor: default;
          background-color: $orange;
          padding: 10px 20px 10px 20px;
          border-radius: 3px;
          -webkit-transition: all .3s ease-in-out;
          -moz-transition: all .3s ease-in-out;
          -ms-transition: all .3s ease-in-out;
          -o-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;


          &:hover{
            -webkit-transition: all .3s ease-in-out;
            -moz-transition: all .3s ease-in-out;
            -ms-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
            cursor: pointer;
            transform: scale(1.05);
            background-color: #FF5E62;
            -webkit-box-shadow: 3px 3px 0px 0px #FFAFAD;
            -moz-box-shadow: 3px 3px 0px 0px #FFAFAD;
            box-shadow: 3px 3px 0px 0px #FFAFAD;

          }

          &:active{
            background-color: #EC5B5F;
          }

        }
      }

      /*#past-wrap{
        float: right;
        a{
          text-decoration: none;
        }
        p{
          font-size: 15px;
          font-weight: 300;
          color: $gray;
          margin-top: -1em;
          font-family: $main-font;
          cursor: default;
        }
        #past-projects{
          height:120px;
          width: auto;
          margin: 25px 45px;

          &:hover{
            -webkit-transition: all .3s ease-in-out;
            -moz-transition: all .3s ease-in-out;
            -ms-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
                  cursor: pointer;
                  transform: scale(1.05);

          }
        }
      }*/
    }
  }


  .project-container{
    display: none;
      .project-wrap{
          //background-color: #F8F8F8;
          //padding: 40px 0px 40px 0px;
          width: 100%;
          height: auto;
          margin: 5% 0;
          text-align: center;

          #anchor-home{
            height: 35px;
          }

          #individual-wrap{
            width: 85%;
            margin: 0 auto;
            display: table;

          .project{
              display: inline-block;
              background-color: #fff;
              height: 355px;
              width: 300px;
              margin: 18px;
              border-radius: 4px;
              -webkit-transition: all .3s ease-in-out;
              -moz-transition: all .3s ease-in-out;
              -ms-transition: all .3s ease-in-out;
              -o-transition: all .3s ease-in-out;
              -webkit-box-shadow: 0 1px 7px rgba(0,0,0,.05);
              -moz-box-shadow: 0 1px 7px rgba(0,0,0,.05);
              box-shadow: 0 1px 7px rgba(0,0,0,.05);
              border: 1px solid rgba(0,0,0,.04);

              &:hover{
                opacity: 1;
                transition: all .3s ease-in-out;
                -webkit-transform: translateY(-10px);
                 -moz-transform: translateY(-10px);
                  -ms-transform: translateY(-10px);
                   -o-transform: translateY(-10px);
                      transform: translateY(-10px);
                      cursor: pointer;
                      transform: scale(1.03);

              }

            img{
              object-fit: cover;
              height: 260px;
              width: 300px;
              border-radius: 4px 4px 0px 0px;
              opacity: .93;
              transition: all .3s ease-in-out;

              &:hover{
                opacity: 1;
                transition: all .3s ease-in-out;
                -webkit-transform: translateY(-5px);
                 -moz-transform: translateY(-5px);
                  -ms-transform: translateY(-5px);
                   -o-transform: translateY(-5px);
                      transform: translateY(-5px);
                      cursor: pointer;
              }

              &:active{
                opacity: .6;
              }

            }

            /*.divider{
              margin-top: 5px;
              height: 1px;
              width: 100%;
              border-bottom: 1px solid #dcdcdc;
            }*/

            .project-label{
              padding: 8px 0px 0px 13px;
              text-align: left;
              font-family: $main-font;
              color: #585858;
              font-weight: 600;
              font-size: 17px;
            }

            .project-label-2{
              padding: 2px 10px 0px 13px;
              text-align: left;
              font-family: $main-font;
              color: #585858;
              font-weight: 400;
            }

          }
        }
      }
  }

}

#footer{
  background-color: #F4F4F4;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 80px;
  width: 100%;


  .footer-text{
    color: #9B9B9B;
    font-family: $main-font;
    font-size: 12px;
    text-align: center;
    padding-top: 3em;
  }
}

.back-to-top{
  text-align: center;
  margin-bottom: 10em;
  margin-top: -100px;
    img{
    height: auto;
    width: 55px;
    opacity: .75;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    &:hover{
      opacity: 1;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -ms-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      -webkit-transform: translateY(-5px);
       -moz-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
         -o-transform: translateY(-5px);
            transform: translateY(-5px);
            cursor: pointer;
    }
    }
}
//large screen views
@media screen and (min-width: 1680px) and (max-width: 2440px){
  #individual-wrap{
    width: 1120px !important;
  }

  .back-to-top{
    display: none;
  }

}
//Mobile Views

@media screen and (min-width: 300px) and (max-width: 800px){

  #navbar{
    height: 20px;
    padding: 18px 0px 17px 0px;
    width: 100%;

  }

  .introduction{
    width: 95% !important;


      h1{
        width: 75% !important;
      }

      h3{
      width: 95% !important;

      }
  }

  .current-past-projects{
    width: 90% !important;
  }

  .project-wrap{
        width: 100% !important;
        #individual-wrap{
          display: table !important;
          margin: 0 auto !important;
          width: 100% !important;

          img{
            object-fit: cover;
            width: 100% !important;
            border-radius: 4px;

          }


        }
    }
}
