$orange: #E76565;

#navbar{
  background: #FCFCFC;
  height: 30px;
  padding: 90px 0px 17px 0px;
  width: 100%;
  #nav-link-wrap{
    margin-right: 20%;
   a{
     padding: 10px;
     text-decoration: none;
     font-family: Avenir Next, sans-serif;
     display: inline-block;
     float: right;
     margin-right: 10px;
     font-size: 18px;
     font-weight: 500;

     &:link{
            color: $orange;
          }

          &:visited{
            color: $orange;
          }

          &:hover {
            color: $orange;
            border-bottom: 3px solid $orange;
            transition: all .25s ease-in-out;
            -webkit-transform: translateY(-3px);
             -moz-transform: translateY(-3px);
              -ms-transform: translateY(-3px);
               -o-transform: translateY(-3px);
                  transform: translateY(-3px);
          }

          &:active{
            color: $orange;
            border-bottom: 3px solid $orange;
          }
   }
 }
}

body{
  background: #FCFCFC;
  margin:auto;

  .project-container{
    margin-top: 150px;
      display: none;
      .project-wrap{
          display: table;
          margin: 0 auto;
          width: 1120px;
          #individual-wrap{
            display: table;
            margin: 0 auto;

          .project{
              display: inline-block;
              text-align: center;
              margin: 15px;
              margin-bottom: 30px;

            img{
              object-fit: cover;
              height: 280px;
              width: 340px;
              border-radius: 4px;

            }

            /*.divider{
              margin-top: 5px;
              height: 1px;
              width: 100%;
              border-bottom: 1px solid #dcdcdc;
            }*/

            .project-label{
              padding: 5px 0px 0px 0px;
              text-align: left;
              font-family: Avenir Next, sans-serif;
              color: #4a4a4a;
            }

          }
        }
      }
  }
}

//Mobile Views

@media screen and (min-width: 300px) and (max-width: 1300px){

  #navbar{
    background: #FCFCFC;
    height: 30px;
    padding: 90px 0px 17px 0px;
    width: 100%;
  }

  .project-wrap{
        width: 90% !important;
        #individual-wrap{
          display: table !important;
          margin: 0 auto !important;
          width: 90% !important;

          img{
            object-fit: cover;
            height: 100% !important;
            width: 100% !important;
            border-radius: 4px;

          }


        }
    }
}
