#navbar{
  background: #E76565;
  height: 50px;
  padding-top: 10px;
  width: 100%;
  #nav-link-wrap{
    margin-right: 20%;
   a{
     color: white;
     padding: 10px;
     text-decoration: none;
     font-family: Avenir, sans-serif;
     display: inline-block;
     float: right;
     margin-right: 10px;
   }
 }
}

body{
  background: #dcdcdc;
  margin:auto;

  .project-container{
    margin-top: 300px;
      display: none;
      .project-wrap{
          display: table;
          margin: 0 auto;
          width: 70%;
        .project{
            display: inline-block;
            background: white;
            width: 200px;
            height: 200px;
            text-align: center;
            font-family: Avenir, sans-serif;
            margin: 15px;
            border-radius: 4px;

        }
      }
  }
}
