$orange: #FE777A;
$gray: #929292;
$black: #585858;
$main-font: Avenir Next, Gill Sans, sans-serif;


.intro-hero{
  display: none;
  background-image: url(../images/pui-paper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  margin-left: -50px;
  margin-top: -22px;

  h1{
    padding: 6em 0em 5em 0em;
    font-family: $main-font;
    color: #fff;
    text-align: center;
  }
}



.item-container{
  margin-top: 150px;
    display: none;
    .item-wrap{
        display: table;
        margin: 0 auto;
        width: 1120px;
        #item-individual-wrap{
          display: table;
          margin: 0 auto;


          #pui-gif{
            object-fit: contain;
            height: auto;
            width: 340px;
            border-radius: 24px;

          }

          /*.divider{
            margin-top: 5px;
            height: 1px;
            width: 100%;
            border-bottom: 1px solid #dcdcdc;
          }*/

      }
    }
}

.menu{
  background-color: gray;
  text-align: center;
  position: fixed;
  bottom: 0;
  ul{
    list-style: none;

    li{
      display: inline;
      padding: 10px;
    }
  }
}

@media screen and (min-width: 300px) and (max-width: 1100px){

  #navbar{
    background: #FCFCFC;
    height: 30px;
    padding: 90px 0px 17px 0px;
    width: 100%;
  }

  .introduction{
    width: 95% !important;


      h1{
        width: 95% !important;
      }

      h3{
      width: 95% !important;

      }
  }

  .item-wrap{
        width: 90% !important;
        #item-individual-wrap{
          display: table !important;
          margin: 0 auto !important;
          width: 90% !important;

          img{
            object-fit: cover;
            height: 100% !important;
            width: 100% !important;
            border-radius: 4px;

          }


        }
    }
}
