.item-container{
  margin-top: 150px;
    display: none;
    .item-wrap{
        display: table;
        margin: 0 auto;
        width: 1120px;
        #item-individual-wrap{
          display: table;
          margin: 0 auto;

        .item{
            display: inline-block;
            text-align: center;
            margin: 15px;
            margin-bottom: 30px;

          img{
            object-fit: cover;
            height: 280px;
            width: 340px;
            border-radius: 4px;

          }

          /*.divider{
            margin-top: 5px;
            height: 1px;
            width: 100%;
            border-bottom: 1px solid #dcdcdc;
          }*/


        }
      }
    }
}

@media screen and (min-width: 300px) and (max-width: 1100px){

  #navbar{
    background: #FCFCFC;
    height: 30px;
    padding: 90px 0px 17px 0px;
    width: 100%;
  }

  .introduction{
    width: 95% !important;


      h1{
        width: 95% !important;
      }

      h3{
      width: 95% !important;

      }
  }

  .item-wrap{
        width: 90% !important;
        #item-individual-wrap{
          display: table !important;
          margin: 0 auto !important;
          width: 90% !important;

          img{
            object-fit: cover;
            height: 100% !important;
            width: 100% !important;
            border-radius: 4px;

          }


        }
    }
}
