$orange: #FE777A;
$gray: #929292;
$black: #585858;
$blue: #2AA3FA;
$main-font: Avenir Next, Gill Sans, sans-serif;


.intro-hero{
  display: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: -50px;
  margin-top: -22px;

  h1{
    padding: 3em 0em 3em 0em;
    font-family: $main-font;
    color: #fff;
    text-align: center;
    font-weight: 600;
    font-size: 40px;
  }
}

.item-container{
  margin-top: 150px;
    display: none;
    .item-wrap{
        display: table;
        margin: 0 auto;
        width: 1120px;
        #item-individual-wrap{
          display: table;
          margin: 0 auto;
        #project-scope{
          width: 60%;
          display: table;
          margin: 0 auto;
          h3{
            font-family: $main-font;
            color: $orange;
            font-weight: 500;
            font-size: 21px;

          }

          p{
            font-family: $main-font;
            line-height: 1.6;
            color: $black;
            font-weight: 400;
            font-size: 18px;
            letter-spacing: normal;

          }
        }

        #process, #final-result, #whatlearndid{
          width: 60%;
          display: table;
          margin: 0 auto;
          h3{
            font-family: $main-font;
            color: $orange;
            font-weight: 500;
            font-size: 21px;
          }

          p{
            font-family: $main-font;
            line-height: 1.6;
            color: $black;
            font-weight: 400;
            margin-bottom: 3em;
            font-size: 18px;
          }

          .process-stage-title{
            font-family: $main-font;
            color: $black;
            font-weight: 500;
            font-size: 18px;
            margin-bottom: 10px;
            margin-top: 30px;
          }

          .reason{
            margin-top: -1.5em;
            margin-left: 10px;
            border-left: 4px solid $blue;
            padding-left: 15px;
            .reason-header{
              color: $blue;
              font-weight: 500;
              font-size: 19px;

            }
          }

          .insight{
            margin-top: -1em;
            margin-left: 10px;
            border-left: 4px solid #4AC948;
            padding-left: 15px;
            .insight-header{
              color: #4AC948;
              font-weight: 500;
              font-size: 19px;

            }
          }

          #did{
            float: left;
            width: 50%;
            h3{
              text-align: center;
              margin-bottom: -7px;
            }
            p{
              background: #F7F7F7;
              padding: 20px 15px 20px 15px;
              margin-bottom: 1em;
              border-left:5px solid #dcdcdc;
              height: 100px;

            }
          }

          #learned{
            float: right;
            width: 50%;
            h3{
              text-align: center;
              margin-bottom: -7px;
            }
            p{
              background: #F7F7F7;
              margin-bottom: 1em;
              padding: 20px 10px 20px 5px;
              border-radius: 0px 4px 4px 0px;
              height: 100px;
            }
          }


          .process_pic{
            width: 100%;
            margin-bottom: -10px;
            margin-top: 20px;
            border-radius: 3px;
            -webkit-transition: all .3s ease-in-out;
            -moz-transition: all .3s ease-in-out;
            -ms-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;
            &:hover{
              cursor:zoom-in;
            }
          }

          .transition {//css for javascript zoom
            -webkit-transform: scale(1.635);
            -moz-transform: scale(1.635);
            -o-transform: scale(1.635);
            transform: scale(1.635);
            -webkit-transition: all .3s ease-in-out;
            -moz-transition: all .3s ease-in-out;
            -ms-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;
            -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.3);
            &:hover{
              cursor: zoom-out;
            }
          }
        }



        #pui-wrap{
            display: inline-block;

          .pui-gif{
            object-fit: contain;
            height: auto;
            width: 300px;
            border-radius: 10px;
            margin-top: 25px;
            margin-left: 20px;
          }

          #ppui-gif{
            object-fit: contain;
            height: auto;
            width: 315px;
            border-radius: 15px;
          }

          #live{
            text-align: center;
            background-color: $orange;
            color: #FFF;
            padding: 10px 40px 10px 40px;
            border-radius: 3px;
            text-decoration: none;
            font-family: $main-font;
            display: table;
            margin: 0 auto;
            margin-top: 1.5em;
            margin-bottom: 2em;
            -webkit-transition: all .3s ease-in-out;
            -moz-transition: all .3s ease-in-out;
            -ms-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;


            &:hover{
              -webkit-transition: all .3s ease-in-out;
              -moz-transition: all .3s ease-in-out;
              -ms-transition: all .3s ease-in-out;
              -o-transition: all .3s ease-in-out;
              transition: all .3s ease-in-out;
              cursor: pointer;
              transform: scale(1.05);
              background-color: $orange;
              -webkit-box-shadow: 3px 3px 0px 0px #FFAFAD;
              -moz-box-shadow: 3px 3px 0px 0px #FFAFAD;
              box-shadow: 3px 3px 0px 0px #FFAFAD;

            }

          }
        }


      }
    }

    .divider{
      height: 1px;
      width: 35%;
      border-bottom: 1px solid #dcdcdc;
      display: table;
      margin: 0 auto;
      margin-top: 5em;
    }

    #more-projects-container{
      margin-top: 4em;

      h2{
        text-align: center;
        font-family: $main-font;
        color: $gray;
        font-weight: 200;
        margin-bottom: 1.5em;
      }

      .more-projects{
        display: table;
        margin: 0 auto;

        .ind-project{
          display: inline-block;
          background-color: #fff;
          height: 310px;
          width: 300px;
          margin: 15px;
          border-radius: 4px;
          -webkit-transition: all .3s ease-in-out;
          -moz-transition: all .3s ease-in-out;
          -ms-transition: all .3s ease-in-out;
          -o-transition: all .3s ease-in-out;
          -webkit-box-shadow: 0 1px 7px rgba(0,0,0,.05);
          -moz-box-shadow: 0 1px 7px rgba(0,0,0,.05);
          box-shadow: 0 1px 7px rgba(0,0,0,.05);
          border: 1px solid rgba(0,0,0,.04);

          &:hover{
            opacity: 1;
            transition: all .3s ease-in-out;
            -webkit-transform: translateY(-10px);
             -moz-transform: translateY(-10px);
              -ms-transform: translateY(-10px);
               -o-transform: translateY(-10px);
                  transform: translateY(-10px);
                  cursor: pointer;
                  transform: scale(1.03);

          }

          .project-label{
            padding: 5px 0px 0px 0px;
            text-align: left;
            font-family: Avenir Next, Gill Sans, sans-serif;
            color: #585858;
            font-weight: 500;
            text-indent: 12px;
          }
          img{
            object-fit: cover;
            height: 260px;
            width: 300px;
            border-radius: 4px 4px 0px 0px;
            transition: all .3s ease-in-out;
            -webkit-transition: all .3s ease-in-out;
            -moz-transition: all .3s ease-in-out;
            -ms-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;
            opacity: .93;

            &:hover{
              -webkit-transition: all .3s ease-in-out;
              -moz-transition: all .3s ease-in-out;
              -ms-transition: all .3s ease-in-out;
              -o-transition: all .3s ease-in-out;
              -webkit-transform: translateY(-5px);
               -moz-transform: translateY(-5px);
                -ms-transform: translateY(-5px);
                 -o-transform: translateY(-5px);
                    transform: translateY(-5px);
              cursor: pointer;
              opacity: 1;
            }
          }
        }
      }

      .even-more-projects{
        display: none;
        margin: 0 auto;
        .ind-project{
          display: inline-block;
          background-color: #fff;
          height: 310px;
          width: 300px;
          margin: 15px;
          border-radius: 4px;
          -webkit-transition: all .3s ease-in-out;
          -moz-transition: all .3s ease-in-out;
          -ms-transition: all .3s ease-in-out;
          -o-transition: all .3s ease-in-out;
          -webkit-box-shadow: 0 1px 7px rgba(0,0,0,.05);
          -moz-box-shadow: 0 1px 7px rgba(0,0,0,.05);
          box-shadow: 0 1px 7px rgba(0,0,0,.05);
          border: 1px solid rgba(0,0,0,.04);

          &:hover{
            opacity: 1;
            transition: all .3s ease-in-out;
                  cursor: pointer;
                  transform: scale(1.03);

          }
        img{
          object-fit: cover;
          height: 260px;
          width: 300px;
          border-radius: 4px 4px 0px 0px;
          transition: all .3s ease-in-out;
          -webkit-transition: all .3s ease-in-out;
          -moz-transition: all .3s ease-in-out;
          -ms-transition: all .3s ease-in-out;
          -o-transition: all .3s ease-in-out;
          opacity: .93;

          &:hover{
            -webkit-transition: all .3s ease-in-out;
            -moz-transition: all .3s ease-in-out;
            -ms-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;
            -webkit-transform: translateY(-5px);
             -moz-transform: translateY(-5px);
              -ms-transform: translateY(-5px);
               -o-transform: translateY(-5px);
                  transform: translateY(-5px);
            cursor: pointer;
            opacity: 1;
          }

        }
      }
    }
      #view-more{
        background-color: #419bf9;
        font-family: $main-font;
        font-size: 16px;
        color: #FFF;
        border-radius: 0px 0px 15px 15px;
        text-align: center;
        padding: 8px;
        width: 925px;
        display: table;
        margin: 0 auto;
        margin-top: 1.5em;
        transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        text-decoration: none;
        &:hover{
          transition: all .3s ease-in-out;
          -webkit-transition: all .3s ease-in-out;
          -moz-transition: all .3s ease-in-out;
          -ms-transition: all .3s ease-in-out;
          -o-transition: all .3s ease-in-out;
          -webkit-box-shadow: 3px 3px 0px 0px #416BF9;
          -moz-box-shadow: 3px 3px 0px 0px #416BF9;
          box-shadow: 3px 3px 0px 0px #416BF9;
          transform: scale(1.02);
          cursor: pointer;
          background-color: #2A89F8;
        }
        &:active{
          opacity: .6;
        }
      }

        .back-to-top-2{
          text-align: center;
          margin: 10em 0em 8em 0em;
            img{
            height: auto;
            width: 55px;
            opacity: .75;
            -webkit-transition: all .3s ease-in-out;
            -moz-transition: all .3s ease-in-out;
            -ms-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;
            &:hover{
              opacity: 1;
              -webkit-transition: all .3s ease-in-out;
              -moz-transition: all .3s ease-in-out;
              -ms-transition: all .3s ease-in-out;
              -o-transition: all .3s ease-in-out;
              -webkit-transform: translateY(-5px);
               -moz-transform: translateY(-5px);
                -ms-transform: translateY(-5px);
                 -o-transform: translateY(-5px);
                    transform: translateY(-5px);
                    cursor: pointer;
                  }
            }
        }
    }

}

#footer{
  background-color: #F4F4F4;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 80px;
  width: 100%;

  .footer-text{
    color: #9B9B9B;
    font-family: Avenir Next, Gill Sans, sans-serif;
    font-size: 12px;
    text-align: center;
    padding-top: 3em;
  }
}

#menu-container{

    #menu-tab{
      background-color: #AAD1FF;
      width: 35px;
      height: 292px;
      border-right: 3px solid #539EF5;
      border-radius: 4px 0px 0px 4px;
      position: fixed;
      right: 0;
      margin-left: 210px;
      top: 14.5em;
      z-index: 1000;
      display: none;
      -webkit-box-shadow: 0px 2px 4px 0px #dcdcdc;
      -moz-box-shadow: 0px 2px 4px 0px #dcdcdc;
      box-shadow: 0px 2px 4px 0px #dcdcdc;


      #list{
        height: 20px;
        width: auto;
        margin: 135px 0px 0px 7px;
      }

      &:hover{
        cursor: pointer;
        background-color: #89BFFD;
      }
      &:active{
        background-color: #5299ED;
      }
    }

    .menu{
      display: none;
      background-color: #F4F4F4;
      width: 215px;
      height: 360px;
      position: fixed;
      right: 0;
      font-family: $main-font;
      font-weight: 400;
      font-size: 18px;
      border-radius: 4px 0px 0px 4px;
      top: 11em;
      z-index: 1000;
      -webkit-box-shadow: 0px 2px 4px 0px #dcdcdc;
      -moz-box-shadow: 0px 2px 4px 0px #dcdcdc;
      box-shadow: 0px 2px 4px 0px #dcdcdc;
      a{
        text-decoration: none;
        &:link{
               color: $black;
             }

             &:visited{
               color: $black;
             }
      }
      ul{
        list-style: none;
        margin: 25px 0px 0px -25px;

        li{
          display: block;
          padding: 20px 5px 15px 10px;
          color: $black;
          transition: all .3s ease-in-out;
          -webkit-transition: all .3s ease-in-out;
          -moz-transition: all .3s ease-in-out;
          -ms-transition: all .3s ease-in-out;
          -o-transition: all .3s ease-in-out;
          &:hover{
            cursor: pointer;
            color: $orange;
            transition: all .3s ease-in-out;
            -webkit-transition: all .3s ease-in-out;
            -moz-transition: all .3s ease-in-out;
            -ms-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;
            -webkit-transform: translateX(5px);
             -moz-transform: translateX(5px);
              -ms-transform: translateX(5px);
               -o-transform: translateX(5px);
                  transform: translateX(5px);
          }
        }
      }
    }
  }
@media screen and (min-width: 300px) and (max-width: 1100px){

  #navbar{
    background: #EEEEEE;
    height: 20px;
    padding: 20px 0px 17px 0px;
    width: 100%;
  }

  .introduction{
    width: 95% !important;


      h1{
        width: 95% !important;
      }

      h3{
      width: 95% !important;

      }
  }

  .item-wrap{
        width: 90% !important;

        #project-scope{
          width: 90% !important;
        }
        #item-individual-wrap{
          display: table !important;
          margin: 0 auto !important;
          width: 90% !important;

          img{
            object-fit: cover;
            height: 100% !important;
            width: 100% !important;
            border-radius: 4px;

          }


        }
    }

    #more-projects-container{
      margin-top: 5em;
      .more-projects{
        width: 90% !important;
        img{
          object-fit: cover;
          height: 260px;
          width: 300px;

        }
      }
      #view-more{
        width: 90% !important;
      }
    }
}
